#colorComponentWrapper {
  overflow: auto;
}

#c-upload-file {
  opacity: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.grid-item {
  padding: 5%;
  text-align: center;
}

ion-card{
  height: 100%;
}

ion-content{
  height: 100%;
}
