<!--
  Grid layout of Color Editor Tab
-->

<ion-grid>
  <ion-row> <!-- Row1 -->
    <ion-col size="8">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pattern {{patternName}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas id="selectorCanvas" width="700" height="330" style="border:1px solid #000000;"></canvas>
        </ion-card-content>
      </ion-card>

    </ion-col>

    <ion-col size="4">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Expanded View {{svgName}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <canvas id="editorCanvas" width="300" height="330" style="border:1px solid #000000;"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row> <!-- Row2 -->
    <ion-col size="8">
      <ion-card>
        <ion-card-header>
          <ion-card-title> {{svgName}} Colors </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-icon name="square-outline"></ion-icon> SVG Element
          </ion-item>
          <ion-item>
            <ion-icon name="square-outline"></ion-icon> SVG Element
          </ion-item>
          <ion-item>
            <ion-icon name="square-outline"></ion-icon> SVG Element
          </ion-item>
          <ion-item>
            <ion-icon name="square-outline"></ion-icon> SVG Element
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <ion-card-header>
          <ion-card-title> Your Color Palette </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-icon name="square-outline"></ion-icon>
            Empty
            <ion-icon name="eyedrop"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon name="square-outline"></ion-icon>
            Empty
            <ion-icon name="eyedrop"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon name="square-outline"></ion-icon>
            Empty
            <ion-icon name="eyedrop"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon name="square-outline"></ion-icon>
            Empty
            <ion-icon name="eyedrop"></ion-icon>
          </ion-item>

        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>
