<ion-content [fullscreen]="true">
  <div class="contentBox">
    <div class="colorBox">
      <div class="color"></div>
      <button id="lock1" (click)="lockColour('lock1')">Lock colour </button>
      <p class="code">#4cae3a</p>
    </div>

    <div class="colorBox">
      <div class="color"></div>
      <button id="lock2" (click)="lockColour('lock2')">Lock colour </button>
      <p class="code">#4cae3a</p>
    </div>

    <div class="colorBox">
      <div class="color"></div>
      <button id="lock3" (click)="lockColour('lock3')">Lock colour </button>
      <p class="code">#4cae3a</p>
    </div>


    <div class="colorBox">
      <div class="color"></div>
      <button id="lock4" (click)="lockColour('lock4')">Lock colour </button>
      <p class="code">#4cae3a</p>
    </div>

    <div class="colorBox">
      <div class="color"></div>
      <button id="lock5" (click)="lockColour('lock5')">Lock colour </button>
      <p class="code">#4cae3a</p>
    </div>

    <div class="colorBox">
      <div class="color"></div>
      <button id="lock6" (click)="lockColour('lock6')">Lock colour </button>
      <p class="code">#4cae3a</p>
    </div>

  </div>

</ion-content>

