<app-navbar></app-navbar>
<div class="wrapper">
    <div class="sidenav bg-primary">
      <div class="sideMotif">
        <h1 style="text-align:center" >Motif Library</h1>
        <div>
          <h5 style="padding:5px">Import new Motif</h5>
    <!--      <mat-icon>cloud_download</mat-icon>-->
          <mat-divider style="color: black"></mat-divider>
        </div>

        <div>
          <h5 style="padding:5px">Append motif to project</h5>
          <mat-divider style="color: black; font-weight: bold; cursor: pointer"></mat-divider>
        </div>

        <div>
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Search for motif">
          </mat-form-field>
        </div>

        <div>
          <div class="MotifImage">
            <img src="https://media.istockphoto.com/photos/single-tree-with-clipping-path-and-alpha-channel-picture-id1147108546?k=6&m=1147108546&s=612x612&w=0&h=NyuGEept3ua05KLTqJaoqPyCIGD9vI_NQhFsuhBArIY="
            alt="motif-image">
            <h5> Trees 1 </h5>
          </div>
        </div>

        <div *ngIf="motifs">
          <button *ngFor="let motif of motifs.motifDetails" class="MotifImage" mat-raised-button (click)='spawnMotifWithURL("https://cors-anywhere.herokuapp.com/" + motif.motifLink);'>
            <img src= {{motif.motifLink}} alt="motif-image"> <!-- does resolve, ignore warning -->
            <h5> {{motif.motifName}} </h5> <!-- variable name is not unresolved, ignore -->
          </button>
        </div>

        <div class = "row">
          <button mat-raised-button (click)='spawnMotif(); '>Spawn Motif</button>
        </div>

      </div>

    </div>

    <div class="mainContent">
      <div class="patternName">
        <h3>Pattern X</h3>
      </div>
      <div class="workArea" id="container">
          <h3>Work space</h3>
      </div>
    </div>

 </div>

 <div class="widgets">
   <div class="widgetSide">
     <div class="Layers">
       <h1 style="text-align:center" >Layers</h1>
       <div>
         <h5 style="padding:5px">New Layer</h5>
         <mat-divider style="color: black; padding: 5px;"></mat-divider>
       </div>
       <div class="layerNumbers">
         <div class="layerBorder">
           <h6>Layer 1</h6>
           <div class="LayerImage">
             <img src="https://media.istockphoto.com/photos/single-tree-with-clipping-path-and-alpha-channel-picture-id1147108546?k=6&m=1147108546&s=612x612&w=0&h=NyuGEept3ua05KLTqJaoqPyCIGD9vI_NQhFsuhBArIY="
             alt="layer-image">
             <h5> Trees </h5>
           </div>
         </div>
       </div>

     </div>

     <div class="modifiers">
       <h1 style="text-align:center" >Modifiers</h1>
       <div>
         <h5 style="padding:5px">New Layer</h5>
         <mat-divider style="color: black; padding: 5px;"></mat-divider>
       </div>
       <div class="layerNumbers">
         <div class="layerBorder">
           <h6>Layer 1</h6>
           <div class="LayerImage">
             <img src="https://media.istockphoto.com/photos/single-tree-with-clipping-path-and-alpha-channel-picture-id1147108546?k=6&m=1147108546&s=612x612&w=0&h=NyuGEept3ua05KLTqJaoqPyCIGD9vI_NQhFsuhBArIY="
             alt="Trees layer image">
             <h5> Trees </h5>
           </div>
         </div>
       </div>

     </div>
   </div>
 </div>

