ion-card{
  height: 100%;
  overflow: auto;
}

ion-content{
  height: 100%;
}

ion-grid{
  height: 100%;
}

ion-row{
  height: 100%;
}

ion-col{
  height: 100%;
}

ion-card-header{
  font-size: large;
  text-align: center;
  border-bottom: 1px solid slategray;
}
