<!--
<title>{{title}}</title>
-->

<!-- <div class="wrapper"> -->
<div class="sidenav bg-primary">
  <a href="">CHOOSE PATTERN</a>
  <a href="">TILING</a>
  <button class="dropdown-btn" >COLORS
    <ion-icon name="caret-down-outline"></ion-icon>
  </button>
  <div class="dropdown-container" id="myDropdown">
    <a href="">Link 1</a>
    <a href="">Link 2</a>
    <a href="">Link 3</a>
  </div>
  <a href="">CUSTOMIZE</a>
  <a href="">FILTERS</a>
  <a href="">CANVAS SIZE</a>
  <a href="" id="download-btn">DOWNLOAD PATTERN</a>
  <button class="dropdown-btn">PREVIEW PATTERN</button>
</div>

  <div class="main_content main">
    <div class="info">
      <div>
        <canvas id="myCanvas" width="300" height="400">
          Your browser does not support the HTML canvas tag.</canvas>
      </div>
      Change spacing<input type="number" id="name" name="name" [defaultValue]="18">
      Rotate pattern: <input type="number"  step="0.001" value="0.000" id="rotate" name="rotate" [defaultValue]="0.000">
      Scale pattern: <input type="number" step="0.01" value="0.00" id="scale" name="scale" [defaultValue]="0.7">
    </div>
  </div>

<!-- </div> -->
