ion-card{
  height: 100%;
  overflow: auto;
}

ion-content{
  height: 100%;
}

ion-grid{
  height: 100%;
}

ion-row{
  height: 100%;
}

ion-col{
  height: 100%;
}

ion-card-header{
  font-size: large;
  text-align: center;
  border-bottom: 1px solid slategray;
}

.motifBtn
{
  height: 100%;
}

.motifImg
{
  width: 70%;
  vertical-align:middle;
}
.MotifImage{
  width: 100px;
  height: 100px;
  //background-color: black;
  text-align: center;
  //padding :50px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: solid black 1px;
  display: flex;
  align-items: center;
}
