

.collections-menu {
  /* padding: 0; */
  /* margin: auto; */
  /* max-width: 1000px; */

  /* flexbox */
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  //justify-content: space-around;
  //align-content: space-between;
  /* align-content: flex-start; */
  /* align-items: flex-start; */
}
//
//a {
//  background: white;
//  border-radius: 2px;
//  padding: 2rem;
//  width: 10%;
//  //min-width: 70px;
//  height: 100px;
//  margin: 10px;
//  text-decoration: none;
//  line-height: 100px;
//  color: black;
//  font-weight: bold;
//  font-size: 1.2rem;
//  text-align: center;
//  border: solid 2px black;
//}
//
//
//@media (min-width: 600px) {
//  a {
//    width: 18%;
//    box-sizing: content-box;
//  }
//}

a:hover {
  background-color: #000;
  color: white;
}
#addCollection{
  font-size: 1.2rem;
  color: gray;
  transition: transform .5s ease-in;
  height: 200px;
  width: 200px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addCollection:hover{
  color: black;
  /* transform: rotateY(180deg); */
}
.square
{
  height: 200px;
  width: 200px;
  background: white;
  margin-left: 10px;
  position: relative;
}
.label
{
  text-align: center;
  width: 200px;
  color: white;
  margin-bottom: 20px;
}

a
{
  text-decoration: none;
  color: #2dd36f;
}

.gear
{
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

#newCollection
{
  float: right;
  margin-right: 50px;
  font-size: 1rem;
}
