

.collections-menu {
  /* padding: 0; */
  /* margin: auto; */
  /* max-width: 1000px; */

  /* flexbox */
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  /* justify-content: space-around;*/
  /*align-content: space-between;*/
  /* align-content: flex-start; */
  /* align-items: flex-start; */
}

a {
  background: white;
  border-radius: 2px;
  padding: 5rem;
  width: 20%;
  min-width: 70px;
  height: 100px;
  margin: 10px;
  text-decoration: none;
  line-height: 100px;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  border: solid 2px black;
}


@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: #000;
  color: white;
}
#addCollection{
  font-size: 5rem;
  color: gray;
  transition: transform .5s ease-in;
}
#addCollection:hover{
  font-size: 5rem;
  color: white;
  /* transform: rotateY(180deg); */
}
