
<ion-grid>
  <ion-row class="maxHeight">


    <ion-col size="7">


      <ion-row size="1">
        <ion-card style="width: 100%">
          <ion-card-content style="width: 100%">
            <ion-row>
              <ion-col size="10">
                <ion-item class="patternSelect" *ngIf="patternService.checkIfPatternsExistAndSetDefault()" style="height: 45px">

                  <ion-select interface="popover"  [(ngModel)]="patternService.selectedPatternID" (ionChange)="this.patternService.getAndLoadSavedPattern(patternService.selectedPatternID, this.canvas)" >
                    <ion-select-option value="{{pattern.patternID}}" *ngFor="let pattern of patternService.currentCollection.childPatterns">{{pattern.patternName}}</ion-select-option>
                  </ion-select>

                </ion-item>
              </ion-col>

              <ion-col>
                <div>

                </div>
              </ion-col>
            </ion-row>

          </ion-card-content>

        </ion-card>


      </ion-row>
      <ion-card >
        <ion-card-content style="width: 100%">
          <canvas id="patternFrame_MotifEditor" width="500px" height="500px" style="border: #0d0d0d"></canvas>

          <ion-row class="row">

          </ion-row>
        </ion-card-content>
      </ion-card>


    </ion-col>

    <!-- Editor -->
    <ion-col size="5" class="tab-content" id="Modifiers">
      <ion-card>
        <ion-card-header>
          Editor
        </ion-card-header>
        <ion-card-content>

        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

