.collections-menu {
  /* padding: 0; */
  /* margin: auto; */
  /* max-width: 1000px; */

  /* flexbox */
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  //justify-content: space-around;
  //align-content: space-between;
  /* align-content: flex-start; */
  /* align-items: flex-start; */
}

.square
{
  height: 200px;
  width: 200px;
  background: white;
  margin-left: 10px;
  position: relative;
}
.label
{
  text-align: center;
  width: 200px;
  color: white;
  margin-bottom: 20px;
}

a
{
  text-decoration: none;
  color: #2dd36f;
}

.gear
{
  font-size: 1.5rem;
  position: absolute;
  top: 1%;
  right: 1%;
}
