
<h1 style="text-align:center; padding-top: 10px">Motif Catalogue</h1>
<div class="collections-menu">

<!--  <div *ngIf="motifs">-->
<!--    <div class="squareContainer" *ngFor="let motif of motifs.motifDetails" class="MotifImage">-->
<!--      <ion-card>-->
<!--        <button style="overflow:hidden;"   mat-raised-button (click)="motifSelect(motif)">-->
<!--          <img src= {{motif.motifLink}} alt="motif-image" class="motifImg"> &lt;!&ndash; does resolve, ignore warning &ndash;&gt;-->
<!--          <h5  class="motifText"> {{motif.motifName}} </h5> &lt;!&ndash; variable name is not unresolved, ignore &ndash;&gt;-->
<!--        </button>-->
<!--      </ion-card>-->

<!--    </div>-->

<!--  </div>-->
  <div *ngIf="motifs" >
    <ion-card *ngFor="let motif of motifs.motifDetails" text-wrap style="margin: 20px">
      <button class="buttonUnselected" mat-raised-button (click)="motifSelect(motif)" [class]="selectedState(motif.motifID)">
        <img src={{motif.motifLink}} class="image">
        <ion-card-header>
          <ion-card-title>{{motif.motifName}}</ion-card-title>
        </ion-card-header>
      </button>
    </ion-card>
  </div>

</div>

<div style="text-align: right;">
  <ion-button (click)="addMotifsToCollection()">Append Motifs</ion-button>
</div>



