
  <br>
  <div id="menu">

    <h1 style="text-align:center; padding-top: 10px">Motif Catalogue</h1>
    <div class="collections-menu">

      <div *ngIf="motifs" style="overflow: hidden; text-align: center;">
        <ion-card *ngFor="let motif of motifs.motifDetails" text-wrap style="margin: 20px">
          <button class="buttonUnselected" mat-raised-button (click)="motifSelect(motif)" [class]="selectedState(motif.motifID)">
            <img src={{motif.motifLink}} class="image">
            <ion-card-header>
              <ion-card-title style="color: black">{{motif.motifName}}</ion-card-title>
            </ion-card-header>
          </button>
        </ion-card>
      </div>

    </div>

    <div style="text-align: center;">
      <ion-button color="medium" (click)="addMotifsToCollection()">Append Motifs</ion-button>
    </div>

  </div>
