<div id="back">
  <br>
  <div id="menu">

    <div style="text-align:center; padding: 10px; background-color: white; ">
      <h1 style="text-align:center; padding-top: 10px; color: black;">Motif Catalogue</h1>
    </div>


    <div class="collections-menu">

      <div *ngIf="motifs" style="overflow: hidden; text-align: center;">
        <ion-card *ngFor="let motif of motifs.motifDetails" text-wrap style="margin: 20px">
          <button class="buttonUnselected" mat-raised-button (click)="motifSelect(motif)" [class]="selectedState(motif.motifID)" style="z-index: 1;">
            <img src={{motif.motifLink}} class="image">
            <ion-card-header>
              <ion-card-title style="color: black">{{motif.motifName}}</ion-card-title>
            </ion-card-header>
          </button>
        </ion-card>

      </div>

    </div>

    <div style="text-align: center; height: 100vh;" id="options">
      <ion-button color="medium" (click)="addMotifsToCollection()" style="z-index: 1;">Append Motifs</ion-button>
      <ion-button  color="medium" (click)="closePopover()" style="z-index: 1;"> Cancel </ion-button>
    </div>

  </div>

  <div class='light x1'></div>
  <div class='light x2'></div>
  <div class='light x3'></div>
  <div class='light x4'></div>
  <div class='light x5'></div>
  <div class='light x6'></div>
  <div class='light x7'></div>
  <div class='light x8'></div>
  <div class='light x9'></div>
</div>
