/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

ion-card{

  display: inline-block;
  flex-direction: column;
  width: 20% !important;
  height: 5cm;
  margin: 5mm !important;

}

ion-card-title{
  margin: 0;
  display: block;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  //width: 50%;
  height: 4cm;
  padding: 10px;
  align-self: center
}

.buttonUnselected{
  border: 10px white !important;
  height: 100%;
  overflow:hidden;
  width: 100%;
  //background: #00D2FF
}

.buttonSelected{
  border: 10px solid grey !important;
  height: 100%;
  overflow:hidden;
  width: 100%;
  padding: 10px;
  //background: #00D2FF
}

#menu{
  width: 80%;
  margin: auto;
  background-color: #FFFFFF;//REMOVE THIS IF YOU WANT ANIMATIONS FOR CATALOGUE
  padding: 5%;
  overflow: hidden;
}
