node_modules
Surface-Pattern-Accelerator.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2021_06_13_16_55_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2021_06_13_16_55__Default_Changelist_.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2021_06_13_16_55_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2021_06_13_16_55_[Default_Changelist]/shelved.patch
