/node_modules/
/.idea/modules.xml
/Surface-Pattern-Accelerator.iml
/Backend/uploads/thread.svg
/.idea/vcs.xml
/Frontend/node_modules/
/Backend/uploads/01625 Mandala.svg
/backend-nest/node_modules/
/.idea/
/Backend/node_modules/

