*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body {
}


#border{
  width : 520px;
  height : 520px;
  background-color: #000000;
}

#myCanvas{
  background-color: #E5E5E5;
  float : left;
  margin-left: 300px;

}

.wrapper{
  position: relative;
  margin: 25px;
}

.wrapper .sidebar{
  width: 400px;
  height: 600px;
  background: #000;
  padding: 30px 0;
  position: absolute;
}
.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid #bdb8d7;
  border-top: 1px solid #bdb8d7;
}

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #bdb8d7;
}

.wrapper .sidebar ul li:hover a{
  color: #000;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  position: center;
  padding: 20px;
  background: #000;
  color: #fff;
  border-bottom: 1px solid #000;
}




.wrapper .main_content .info{
  margin: 5px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

#canvas{
  margin: auto;
  background: #bdb8d7;
  width: 80%;
}

#name,#scale{
  margin: 10px;
  padding: 10px;
  border-color: #000;
  font-size: 14px;
}

#rotate{
  margin: 10px;
  padding: 10px;
  border-color: #000;
  font-size: 14px;
}
