<ion-tabs>
  <ion-tab-bar slot="top" class="top-nav">
      <!-- The tab property is the router link -->
      <ion-tab-button tab="pattern" layout="icon-end">
        <ion-icon name="apps-outline"></ion-icon>
        <ion-label>Pattern</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="color" layout="icon-end">
        <ion-icon name="color-palette-outline"></ion-icon>
        <ion-label>Color Editor</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="geometry" layout="icon-end">
        <ion-icon name="shapes-outline"></ion-icon>
        <ion-label>Geometry Editor</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="workarea" layout="icon-end">
        <ion-icon name="image-outline"></ion-icon>
        <ion-label>Preview</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="gif" layout="icon-end">
        <ion-icon name="images-outline"></ion-icon>
        <ion-label>Gif Creator</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="canvasColours">
        <ion-icon name="brush-outline"></ion-icon>
        <ion-label>Colour Extractor</ion-label>
      </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
