<h1>Collection Creator</h1>
<div>
    <label for="new-collection">Collection name: </label><br>
    <input id="new-collection" #collectionName /><br>

    <label for="story">Collection Story: </label><br>
    <input id="story" #collectionStory /><br>

    <label for="themes">Collection Themes: </label><br>
    <input id="themes" #collectionThemes /><br>
    <br>
  
    
    <button class="add-button" (click)="add(collectionName.value); collectionName.value=''">
      Add Collection
    </button>
  </div>