<!--
<ion-grid>
  <ion-row class="maxHeight">
    <ion-col size="3" class="tab-content" id="model">
      <ion-card>
        <ion-card-header>
          <ion-button color="dark" size="small" fill="clear" class="tab-link"
                      (click)="openTab($event,'model')">
            <ion-label class="button-text2">Models </ion-label>
            <ion-icon name="american-football"></ion-icon>
          </ion-button>

          <ion-button color="medium" size="small" fill="clear" class="tab-links"
                      (click)="openTab($event,'applyPatterns')">
            <ion-label class="button-text2">Apply Patterns </ion-label>
            <ion-icon name="brush"></ion-icon>
          </ion-button>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col class="tab-content" size="3" id="applyPatterns" style="display: none">
      <ion-card>
        <ion-card-header>
          <ion-button color="medium" size="small" fill="clear" class="tab-link"
                      (click)="openTab($event,'model')">
            <ion-label class="button-text">Models </ion-label>
            <ion-icon name="american-football"></ion-icon>
          </ion-button>

          <ion-button color="dark" size="small" fill="clear" class="tab-links"
                      (click)="openTab($event,'applyPatterns')">
            <ion-label class="button-text">Apply Patterns </ion-label>
            <ion-icon name="brush"></ion-icon>
          </ion-button>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
-->


<div>
  <canvas id="artifactCanvas" style="border:1px solid; text-align: center;">
  </canvas>
</div>

<ion-list>
  <ion-item>
    <ion-button expand="Block" color="dark" (click)="applyPattern()">Apply Pattern</ion-button>
  </ion-item>
</ion-list>
