<div class="mainBody">
  <div class="mainHeader">
    <div class="headerLeft">
      SPA
    </div>
    <div class="headerRight">
      <div class="rightContent">
        collections
      </div>
      <div class="rightContent">
        Create pattern
      </div>
      <div class="rightContent">
        pallete Generator
      </div>
    </div>
<!--    //////end of header-->
    <hr>
  </div>
  <div class="mainLaunch">
    <div class="image">
      <img src="src/assets/launch.jpg" alt="here is the image">
<!--      <img src="src/assets/launch.PNG" alt="">-->
    </div>
    <div class="mainLogin">
      <div>
        <h2 style="color: white">Design Breathtaking</h2>
        <h1>Patterns</h1>
        <h4 style="font-family: 'Comic Sans MS'">with</h4>
        <h3>Surface Pattern Accelerator</h3>
      </div>
      <div class="buttons">
        <div class="button1">
          <button class="btn"
            routerLink="/login"
          >
            Sign Up
          </button>
        </div>
        <div class="button2">
          <button class="btn"
            routerLink="/login"
          >
            Login
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

