<div class="mainBody">
  <div class="mainHeader">
    <div class="headerLeft">
      SPA
    </div>
    <div class="headerRight">
      <div class="rightContent">
        Collections
      </div>
      <div class="rightContent">
        Create pattern
      </div>
      <div class="rightContent">
        Palette Generator
      </div>
    </div>
<!--    //////end of header-->
    <hr>
  </div>
  <div class="mainLaunch">
    <div class="image">
      <img src="https://www.thoughtco.com/thmb/Y0u9dMhdSXvKQh10yOBoUu-C7vk=/3435x2576/smart/filters:no_upscale()/abstract-paper-flower-pattern-656688606-5acfba2eae9ab80038461ca0.jpg"  alt="here is the image">
    </div>
    <div class="mainLogin">
      <div class="words">
        <h2 >Design Breathtaking</h2>
        <h1>Patterns</h1>
        <h4 >with</h4>
        <h3>Surface Pattern Accelerator</h3>
      </div>
      <div class="buttons">
        <div class="button1">
          <button class="btn"
            routerLink="/login"
          >
            Sign Up
          </button>
        </div>
        <div class="button2">
          <button class="btn"
            routerLink="/login"
          >
            Login
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

