<div class="mainBody">
  <div class="mainHeader">
    <div class="headerLeft">
      SPA
    </div>
    <div class="headerRight">
      <div class="rightContent">
        Collections
      </div>
      <div class="rightContent">
        Create pattern
      </div>
      <div class="rightContent">
        Palette Generator
      </div>
    </div>
<!--    //////end of header-->
  </div>
  <div class="mainLaunch">
    <div class="image">
      <img src="assets/launch.jpg"  alt="here is the image">
    </div>
    <div class="mainLogin">
      <div class="words">
        <h2 >Design Breathtaking</h2>
        <h1>Patterns</h1>
        <h4 >with</h4>
        <h3>Surface Pattern Accelerator</h3>
      </div>
      <div class="buttons">
        <div class="button1">
          <button class="btn"
            routerLink="/login"
          >
            Sign Up
          </button>
        </div>
        <div class="button2">
          <button class="btn"
            routerLink="/login"
          >
            Login
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="launchImage">
    <div class="palette">
      <div class="words">
        <h2 > Create Beautiful </h2>
        <h1> Color palettes </h1>
        <h4> with our </h4>
        <h3> Color Palette Generator</h3>
      </div>

      <div class="buttons">
        <div class="button1">
          <button class="btn"
                  routerLink="/colorpallet"
          >
            Try now
          </button>
        </div>
      </div>
    </div>

    <div class="image2">
      <img src="assets/color.PNG"  alt="here is the image">
    </div>
  </div>

  <div class="footer">
    <div class="report">
        Report a bug
    </div>

    <div class="contact">
        Contact us
    </div>
  </div>

</div>

