<!--
<button (click)="closePopover()">Ok</button>
-->

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        This is a preview of your downloaded pattern.
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <img src="../../assets/pattern-preview.png" alt="Pattern Preview">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="success" expand="block" (click)="closePopover()">Ok</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
