
<!--<p>-->
<!--  new-collection works!-->
<!--</p>-->

<div class="container">


<div>

  <div class="newCollection">
    <h2>New Collection</h2>
  </div>

  <div>
    <ion-item>
      <ion-label position="stacked" class="label">Collection Name</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="label">Collection Story</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" class="label">Theme</ion-label>
      <br>

          <div class="colorBlock">
            HEX: #FFF
            <div class="color"></div>
          </div>
          <div class="colorBlock">
            HEX: #FFF
            <div class="color"></div>
          </div>
          <div class="colorBlock">
            HEX: #FFF
            <div class="color"></div>
          </div>
      <div class="colorBlock">
        HEX: #FFF
        <div class="color"></div>
      </div>

      <button style="margin-top: 10px; margin-bottom: 20px;">Generate Palette</button>
    </ion-item>


  </div>
  <br>
  <div class="buttons">
    <button class="button" mat-raised-button color="primary">Create Collection</button>
  </div>
</div>
