//.colectionName{
//  background-color: mediumvioletred;
//}
.newCollection{
  width: 100%;
  height: 80px;

  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 75);
}
h3{
  color: #011638;
  font-size: large;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
.collection-name{
  background-color:  #011638;
  //height: 70px;
  margin-left: 100px;
  margin-right: 100px;
}

.inputField{
  width: 600px;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: transparent;
  padding: 20px 0;
  margin-left: 250px;
  margin-bottom: 10px;
}
.collection-story{
  background-color:  #011638;
  height: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.inputFieldStory{
  width: 900px;
  border-right: none;
  border-left: none;
  border-top: none;
  background-color: transparent;
  padding: 30px 0;
  margin-left: 150px;
  margin-bottom: 10px;
}
.colectionTheme{
  background-color:  #011638;
  height: 150px;
  margin-left: 100px;
  margin-right: 100px;
}
.buttons{
  position: absolute;
  top: 620px;
  left: 600px;
}
.button{
  color: #53ff45;
  background-color:  #011638;
  width: 200px;
}
