<!--<p>-->
<!--  new-collection works!-->
<!--</p>-->

<div>
  <div class="newCollection">
    <h3>New Collection</h3>
  </div>

  <div>
    <div class="colectionName">
      <h3>Collection Name</h3>
      <div class="collection-name">
        <input type="text" class="inputField">
      </div>
    </div>

    <div class="colectionStory">
      <h3>Collection Story</h3>
      <div class="collection-story">
        <input type="text" class="inputFieldStory">
      </div>
    </div>
  </div>


  <div >
    <h3>Theme</h3>
    <div class="colectionTheme">

    </div>
  </div>




</div>
