.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
ion-card{
  height: fit-content;
}
.grid-item {
  padding: 5%;
  text-align: center;
}

#cc-upload-file {
  opacity: 0;
}

p{
  background-color: #ffffff;
}
