<ion-content style="height: 100%">
  <ion-card>
    <ion-card-header>
      Upload an image
    </ion-card-header>
    <ion-card-content >
      <canvas id="canvasExtractor" style="border: 1px dashed #818181" height="350" width="512"></canvas> <br>
      <br>
      <ion-button color="medium" id="reload" (click)="reloadPage()" hidden> clear </ion-button>
      <ion-button color="medium" (click)="import()" >Import</ion-button>
      <!--
        Input file accepts only image files
      -->
      <input type="file" id="cc-upload-file" accept="image/*"/>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header> Tap on pattern to extract colours </ion-card-header>
    <ion-card-content>
    <ion-grid class="grid-container">
      <ion-row id="it0" class="grid-item"><p id="hex0"></p></ion-row>
      <ion-row id="it1" class="grid-item"><p id="hex1"></p></ion-row>
      <ion-row id="it2" class="grid-item"><p id="hex2"></p></ion-row>
      <ion-row id="it3" class="grid-item"><p id="hex3"></p></ion-row>
      <ion-row id="it4" class="grid-item"><p id="hex4"></p></ion-row>
      <ion-row id="it5" class="grid-item"><p id="hex5"></p></ion-row>
      <ion-row id="it6" class="grid-item"><p id="hex6"></p></ion-row>
      <ion-row id="it7" class="grid-item"><p id="hex7"></p></ion-row>
      <ion-row id="it8" class="grid-item"><p id="hex8"></p></ion-row>
      <ion-row id="it9" class="grid-item"><p id="hex9"></p></ion-row>
      <ion-row id="it10" class="grid-item"><p id="hex10"></p></ion-row>
      <ion-row id="it11" class="grid-item"><p id="hex11"></p></ion-row>
      <ion-row id="it12" class="grid-item"><p id="hex12"></p></ion-row>
      <ion-row id="it13" class="grid-item"><p id="hex13"></p></ion-row>
      <ion-row id="it14" class="grid-item"><p id="hex14"></p></ion-row>
      <ion-row id="it15" class="grid-item"><p id="hex15"></p></ion-row>
      <ion-row id="it16" class="grid-item"><p id="hex16"></p></ion-row>
      <ion-row id="it17" class="grid-item"><p id="hex17"></p></ion-row>
      <ion-row id="it18" class="grid-item"><p id="hex18"></p></ion-row>
      <ion-row id="it19" class="grid-item"><p id="hex19"></p></ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

