<!--&lt;!&ndash;checkout form&ndash;&gt;-->
<!--<form action="https://www.payfast.co.za/eng/process" method="post">-->
<!--  <input type="hidden" name="merchant_id" value="18349126">-->
<!--  <input type="hidden" name="merchant_key" value="4s19tu2zenbmv">-->
<!--  <input type="hidden" name="amount" value="1200.00">-->
<!--  <input type="hidden" name="item_name" value="Test Product">-->
<!--  <input type="hidden" name="email_address" value="john@doe.com">-->
<!--  <input type="submit">-->
<!--</form>-->

<!--&lt;!&ndash;merchant details&ndash;&gt;-->
<!--<input type="hidden" name="merchant_id" value="10000100">-->
<!--<input type="hidden" name="merchant_key" value="46f0cd694581a">-->
<!--<input type="hidden" name="return_url" value="https://www.example.com/success">-->
<!--<input type="hidden" name="cancel_url" value="https://www.example.com/cancel">-->
<!--<input type="hidden" name="notify_url" value="https://www.example.com/notify">-->

<!--&lt;!&ndash;customer details&ndash;&gt;-->
<!--<input type="hidden" name="name_first" value="John">-->
<!--<input type="hidden" name="name_last" value="Doe">-->
<!--<input type="hidden" name="email_address" value="john@doe.com">-->
<!--<input type="hidden" name="cell_number" value="0823456789">-->

<div class="parent">
  <div class="words">
        <h2>Get unlimited access to all 'Simply patterns' features</h2>
        <h1>Enjoy your creations ad-free!</h1>
        <h4 >Make a once-off payment</h4>
  </div>
  <div class="button">
    <button (click)="makePayment(5.00)" class="dropbtn">Pay $5.00 </button>
  </div>
</div>

