#checkout-button{
  color: black;
}

.parent{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 80px 30px;
}
.dropbtn {
  background-color: #011638;
  color: #53ff45;
  padding: 25px 30px;
  font-size: 16px;
  border: none;
}

.button{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.wordss{
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 20px;
  padding: 0 80px;
}

.words{
  margin: auto;
  width: 60%;
  border: 5px solid #011638;
  padding: 10px;
}

.words >h1{
  font-weight: bold;
  font-size: 40px;
  padding: 20px 80px;
}

.words >h2{
  color: #011638;
  font-size: 30px;
  padding: 20px 0;
}

.words >h4{
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 30px;
  padding: 20px 80px;
  color: #011638;
  //padding: 9px 0;
}

.words >h3{
  padding: 15px 50px;
  //font-size: 16px;
}
