<!--&lt;!&ndash;checkout form&ndash;&gt;-->
<!--<form action="https://www.payfast.co.za/eng/process" method="post">-->
<!--  <input type="hidden" name="merchant_id" value="18349126">-->
<!--  <input type="hidden" name="merchant_key" value="4s19tu2zenbmv">-->
<!--  <input type="hidden" name="amount" value="1200.00">-->
<!--  <input type="hidden" name="item_name" value="Test Product">-->
<!--  <input type="hidden" name="email_address" value="john@doe.com">-->
<!--  <input type="submit">-->
<!--</form>-->

<!--&lt;!&ndash;merchant details&ndash;&gt;-->
<!--<input type="hidden" name="merchant_id" value="10000100">-->
<!--<input type="hidden" name="merchant_key" value="46f0cd694581a">-->
<!--<input type="hidden" name="return_url" value="https://www.example.com/success">-->
<!--<input type="hidden" name="cancel_url" value="https://www.example.com/cancel">-->
<!--<input type="hidden" name="notify_url" value="https://www.example.com/notify">-->

<!--&lt;!&ndash;customer details&ndash;&gt;-->
<!--<input type="hidden" name="name_first" value="John">-->
<!--<input type="hidden" name="name_last" value="Doe">-->
<!--<input type="hidden" name="email_address" value="john@doe.com">-->
<!--<input type="hidden" name="cell_number" value="0823456789">-->

<div class="container">
  <h2 class="mt-5 mb-4">Make payment</h2>
  <div class="col-md-5">
    <button (click)="makePayment(9.00)" class="btn btn-success btn-block">Pay ZAR 9.00 </button>
  </div>
</div>

<!--<div class="description">-->
<!--  <h3>Starter plan</h3>-->
<!--  <h5>$20.00 / month</h5>-->
<!--</div>-->
<!--</div>-->
<!--<form action="/create-checkout-session" method="POST">-->
<!--  <input type="hidden" name="lookup_key" value="// TODO: {{PRICE_LOOKUP_KEY}} replace with `price.lookup_key`" />-->
<!--  <button id="checkout-and-portal-button" type="submit">Checkout</button>-->
<!--</form>-->
