<ion-content class="wrapper">

  <ion-card class="contentBox" id="palet">

    <ion-card class="colorBox">
      <div class="color"></div>
      <ion-button id="lock1" color="medium" (click)="lockColour('lock1')">Lock</ion-button>
      <p class="code">#4cae3a</p>
    </ion-card>

    <ion-card class="colorBox">
      <div class="color"></div>
      <ion-button id="lock2" color="medium" (click)="lockColour('lock2')">Lock</ion-button>
      <p class="code">#4cae3a</p>
    </ion-card>

    <ion-card class="colorBox">
      <div class="color"></div>
      <ion-button id="lock3" color="medium" (click)="lockColour('lock3')">Lock</ion-button>
      <p class="code">#4cae3a</p>
    </ion-card>

    <ion-card class="colorBox">
      <div class="color"></div>
      <ion-button id="lock4" color="medium" (click)="lockColour('lock4')">Lock</ion-button>
      <p class="code">#4cae3a</p>
    </ion-card>

    <ion-card class="colorBox">
      <div class="color"></div>
      <ion-button id="lock5" color="medium" (click)="lockColour('lock5')">Lock</ion-button>
      <p class="code">#4cae3a</p>
    </ion-card>

  </ion-card>

  <ion-card class="actions">
    <ion-button id="gen-btn" color="medium" (click)="colorGen()">Generate</ion-button>
    <ion-button id="gen-btn" color="medium" (click)="save()">Save</ion-button>
  </ion-card>

</ion-content>
