<app-navbar></app-navbar>
<ion-content style="height: 100%">
  <ion-grid style="height: 100%">
    <ion-row style="height: 100%">
      <ion-col size="9" style="height: 100%">
        <ion-card style="height: 100%">

          <ion-card-header>
            Upload an image
            <ion-item>
              <input type="file" id="readImg" (change)="upload()" accept="image/jpeg, image/png">
            </ion-item>
          </ion-card-header>

          <ion-card-content style="height: 100%">
            <ion-grid style="height: 100%">
              <ion-row style="height: 100%">

                <ion-col style="height: 100%; display: none" id="contentContainer">
                  <ion-card >
                    <img  id="uploadedImage" alt="Content image" style="max-height: 512px; display: block; margin: auto" src="">
                  </ion-card>
                  <ion-button color="medium" style="display: block; margin: auto" (click)="processGeneratedImage()">Process</ion-button>
                </ion-col>

                <ion-col style="height: 100%; display: none" id="resultContainer">
                  <ion-card style="">
                    <img id="generatedImg" alt="Loading generated image..." style="max-height: 512px; display: block; margin: auto" src="">
                  </ion-card>
                  <ion-button color="medium" style="display: block; margin: auto" (click)="downloadImage()">Download</ion-button>
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card-content>

        </ion-card>
      </ion-col>
      <ion-col size="3" style="height: 100%">
        <ion-card style="height: 100%">

          <ion-card-header>
            <ion-item>
              <p id="stylesHeader">Select a style</p>
              <img id="selectedStyle" style="display: none" alt="style">
            </ion-item>
          </ion-card-header>

          <ion-card-content style="height: 100%">

            <ion-grid style="height: 100%">

              <ion-row style="height: 50%">
                <ion-col size="12" style="height: 100%">
                  <ion-card (click)="selectStyle('style1.jpg', 'Vincent van Gogh')">
                    Vincent van Gogh
                    <img alt="Van Gogh style 1" id="style1.jpg" src="../../../assets/style-transfer/images/style1.jpg">
                  </ion-card>
                </ion-col>
              </ion-row>

              <ion-row style="height: 50%">
                <ion-col size="12" style="height: 100%">
                  <ion-card (click)="selectStyle('style2.jpg', 'Leonid Afremov' )">
                    Leonid Afremov
                    <img alt="Leonif Afremov style 2" id="style2.jpg" src="../../../assets/style-transfer/images/style2.jpg">
                  </ion-card>
                </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
