<ion-content>
  <br>
  <br>
  <br>
  <ion-card id="menu">
    <ion-card-header>Icon import</ion-card-header>
    <div>
      <input type="file" (change)="selectFiles($event); previewImage($event)" id="uploadImage" name="file" accept=".svg"
             multiple>
    </div>
    <div>
      <div *ngFor="let file of files; index as i" class="blockWraper">
        <div class="imgBlock">
          <img class="uploadPreview" style="width: 100px; height: 100px;"/>
          <ion-input value="{{file.name}}" [(ngModel)]="fileNames[i]"></ion-input>
        </div>
      </div>

    </div>
    <ion-item>
      <ion-button (click)="uploadFiles()" color="medium">Upload</ion-button>
      <ion-button color="medium" (click)="closePopover()">Cancel</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
