<!--
Navigation for the different tabs.
-->
<ion-tabs>
  <ion-tab-bar slot="top" class="top-nav">
    <ion-button size="small" fill="clear" color="dark">
      <ion-label>File</ion-label>
    </ion-button>

    <ion-button size="small" fill="clear" color="dark">
      <ion-label>Collection</ion-label>
    </ion-button>

    <ion-button size="small" fill="clear" color="dark">
      <ion-label>Pattern</ion-label>
    </ion-button>

    <ion-button size="small" fill="clear" color="dark">
      <ion-label>Settings</ion-label>
    </ion-button>

    <ion-button size="small" fill="clear" color="dark">
      <ion-label>User</ion-label>
    </ion-button>

    <ion-button size="small" fill="clear" color="dark">
      <ion-label>Collaborate</ion-label>
    </ion-button>

    <ion-button size="small" fill="clear" color="dark">
      <ion-label>Help</ion-label>
    </ion-button>
  </ion-tab-bar>

  <ion-tab-bar slot="top">
    <!-- The tab property is the router link -->
    <ion-tab-button tab="pattern">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Pattern</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="colorpallet">
      <ion-icon name="color-palette-outline"></ion-icon>
      <ion-label>Color Editor</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="geometry">
    <ion-icon name="shapes-outline"></ion-icon>
    <ion-label>Geometry Editor</ion-label>
  </ion-tab-button>

    <ion-tab-button tab="workarea">
      <ion-icon name="image-outline"></ion-icon>
      <ion-label>Preview</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gif">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Gif Creator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="canvasColours">
      <ion-icon name="brush-outline"></ion-icon>
      <ion-label>Colour Extractor</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

<!--
<div class="content" style="display: none"><span>SPA app is running!</span></div>

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
 -->

<router-outlet></router-outlet>
