<nav class="nav">
  <a class="nav-link" routerLink="#">File</a>
  <a class="nav-link" routerLink="/collections">Collection</a>
  <a class="nav-link" routerLink="/pattern">Pattern</a>
  <a class="nav-link" routerLink="#">Settings</a>
  <a class="nav-link" routerLink="#">User</a>
  <a class="nav-link" routerLink="#">Collaborate</a>
  <a class="nav-link" routerLink="#">Help</a>
</nav>

<nav class="nav">
  <div class="link-container">
    <a class="nav-link" routerLink="/pattern">Pattern</a>
  </div>
  <div class="link-container">
    <a class="nav-link" routerLink="#">Colour Editor</a>
  </div>
  <div class="link-container">
    <a class="nav-link" routerLink="#">Geometry Editor</a>
  </div>
  <div class="link-container">
    <a class="nav-link" routerLink="#">Preview</a>
  </div>
  <div class="link-container">
    <a class="nav-link" routerLink="#">Gif Creator</a>
  </div>
</nav>

<router-outlet></router-outlet>
