
*{
  background-color: #fff;
}

.nav{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  border-bottom: solid;
}

.nav-link{
  display:block;
  padding:.5rem 1rem;
  color:#000;
  text-decoration:none;
}

.nav-link:hover{
  display:block;
  padding:.5rem 1rem;
  color:#fff;
  background-color: #000;
  text-decoration:none;
}
