
<ion-grid>
  <ion-row>
    <br>
    <h1 style="text-align: center; margin: auto;">New Pattern Name:</h1>
  </ion-row>
  <ion-row>
    <ion-input type="text" class="inputField" style="background-color: darkgrey; color: black; padding : 10px; width: 50%; margin: auto;" #patternName></ion-input>
  </ion-row>
  <ion-item>
    <ion-button style="width: 100%;" color="medium" (click)="saveNewPattern(patternName.value)">Save</ion-button>
    <ion-button style="width: 100%;" color="medium" (click)="closePopup()">Cancel</ion-button>
  </ion-item>
</ion-grid>


