ion-grid{
  margin: auto;
  //overflow: hidden;
  padding: 5%;
  width: 100%;
}

ion-row{
  width: 100%;
  margin: auto;
  text-align: center;
}

ion-input{
  font-size: x-large;
}

ion-item{
  padding: 0;
  width: 40%;
  margin: auto;
}






