.file-input {
    display: none;
}

canvas {
    margin: auto;
    background: #ececec;
    width: 100%;
}

/*
svg {
    margin: auto;
    background: #ececec;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
 */