<!--
            Resources used to understand this implementation:
            https://blog.angular-university.io/angular-file-upload/
            https://angular.io/guide/event-binding
-->

<div class="container">
    <div class="row">
        <div class="col-md-8 m-auto">

            <!--
            Notice in the component template how the upload purple button and the invisible file input are linked.
            When the user clicks on the purple button, a click handler triggers the file input via fileUpload.click().

            The user will then choose a file from the file upload dialog,
            and the change event will be triggered and handled by onFileSelected().
            -->
            <input type="file" class="file-input"
                   [accept]="requiredFileType"
                   (change)="onFileSelected($event)" #fileUpload>

            <div class="file-upload custom-file mb-3">

                {{fileName || "No SVG file uploaded yet."}}

                <div class="button-container">
                    <button mat-mini-fab color="primary" class="upload-btn"
                            (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>

            </div>

            <!-- User inputs an SVG image into this tag that can be edited -->
            <canvas>
                <svg id="SVGimage">
                    <use xlink:href=url x="0" y="0"></use>
                </svg>
            </canvas>


            <div class="custom-file mb-3">
                <label for="favcolor">Select a color for your motif:</label>
                <br>
                <input type="color" id="favcolor" name="favcolor" value="#ff0000">
            </div>
        </div>
    </div>
</div>