<title>{{title}}</title>
<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#">Import motif</a></li>
            <li><a href="#" id="downloadBtn">Download pattern</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Workspace</div>

        <div class="info" width="500">
            <canvas id="myCanvas" width="300" height="750">
                Your browser does not support the HTML canvas tag.</canvas>
            <input type="text" id="name" name="name" placeholder="Change spacing">
            <input type="text" id="rotate" name="rotate" placeholder="Rotate pattern">
        </div>
    </div>

</div>
