<!--<div class="logged-out" class="container">-->
<!--  <h1>Sign in with:</h1>-->
<!--  <button (click)="doLogin()"><img src="./assets/icon/GoogleLogo.png" alt="Sign in With Google" style="width:10%;height:10%"></button>-->

<!--</div>-->

<div class="wrapper">
  <div class="container">
    <h1>Welcome</h1>
    <h2>Sign in with:</h2>

    <form class="form">
<!--      <input type="text" placeholder="Username">-->
<!--      <input type="password" placeholder="Password">-->
      <button (click)="doLogin()"><img src="./assets/icon/GoogleLogo.png" alt="Sign in With Google" style="width:10%;height:10%"></button>
      <button (click)="doLogin()"><img src="./assets/icon/DropBox.png" alt="Sign in With Google" style="width:10%;height:10%"></button>
      <button (click)="doLogin()"><img src="./assets/icon/oneDrive.png" alt="Sign in With Google" style="width:10%;height:10%"></button>
    </form>
  </div>

<!--  <ul class="bg-bubbles">-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--    <li></li>-->
<!--  </ul>-->
</div>




