<!--
  Grid layout of Color Editor Tab
  <app-navbar></app-navbar>
-->
<ion-content id="colorComponentWrapper" style="height: 100%">
<ion-grid>
  <ion-row style="height: 100%"> <!-- Row1 -->
   <ion-col size="8" style="height: 100%">
      <ion-card style="height: 100%">
        <ion-card-header>
          <ion-card-title>Expanded View {{svgName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form>
              <ion-item>
                <ion-label for="fav_color">Select a color: </ion-label>
                <input type="color" id="fav_color" name="fav_color" value="#ff0000">
              </ion-item>
              <br>
              <ion-button id="changeColorBtn" color="medium" (click)="changeFill()">Change Color</ion-button>
              <br>
              <ion-item>
                <ion-label for="textColor" style="color: #000000">Enter a color: </ion-label>
                <input type="text" id="textColor" name="textColor" value="#ff0000" style="background-color: #FFFFFF; border: 1px solid #000000; padding-left: 2%; color: #000000">
              </ion-item>
              <ion-button id="changeTextBtn" color="medium" (click)="changeFillText()">Change Color</ion-button>
              <input type="file" id="c-upload-file" accept="image/svg+xml/*">
              <ion-button id="importBtn" color="medium" (click)="importSVG()">Import SVG</ion-button>
              <ion-button id="saveBtn" color="medium" (click)="saveSvg()">Save SVG</ion-button>
            </form>

          <img id="output" alt="SVG Image" src="" style="display: none"/>
          <div id="divOutput"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="4" style="height: 100%">
        <ion-card>
          <ion-card-header>
            <ion-card-title> Your Color Palette <ion-button id="genBtn" color="medium" (click)="colorGenerator()">Generate</ion-button> </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item class="colorBox">
              <div class="colors" style="width: 100%; height: 90%; border-radius: 25px"></div>
              <ion-button id="locks1" color="medium" (click)="lockColor('locks1')">Lock</ion-button>
              <p class="codes">#4cae3a</p>
            </ion-item>
            <ion-item class="colorBox">
              <div class="colors" style="width: 100%; height: 90%; border-radius: 25px"></div>
              <ion-button id="locks2" color="medium" (click)="lockColor('locks2')">Lock</ion-button>
              <p class="codes">#4cae3a</p>
            </ion-item>

            <ion-item class="colorBox">
              <div class="colors" style="width: 100%; height: 90%; border-radius: 25px"></div>
              <ion-button id="locks3" color="medium" (click)="lockColor('locks3')">Lock</ion-button>
              <p class="codes">#4cae3a</p>
            </ion-item>

            <ion-item class="colorBox">
              <div class="colors" style="width: 100%; height: 90%; border-radius: 25px"></div>
              <ion-button id="locks4" color="medium" (click)="lockColor('locks4')">Lock</ion-button>
              <p class="codes">#4cae3a</p>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
