@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
ion-card{
  background: #F7F7F9;
  width: 100%;
  height: 100vh;
  font-family: 'Oswald', sans-serif;
}

.sidebar h2{
  color: black;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: black 1px solid;
}
.sidebar ul{
  list-style-type: none;
  color: black;
}
.sidebar ul ion-icon{
  margin-right: 5px;
  font-size: 20px;
}
.sidebar ul li{
  padding-top: 20px;
  height: 50px;
  cursor: pointer;
}

.active, li:hover{
  color: #007DDB;
}
