<ion-content class="main">
  <ion-grid >
    <ion-row style="height: 100%">
      <ion-col size="2">
        <ion-card>
          <div class="sidebar">
            <h2>Simply Patterns</h2>
            <ul class="sidebarList tab-content-side">
              <li (click)="setActive('Collections')" class="active">
                <ion-icon name="folder-open-outline"></ion-icon>
                Collections
              </li>
              <li (click)="uploadFilePopover()" class="tab-links">
                <ion-icon name="grid-outline"></ion-icon>
                <span>My Icons</span>
              </li>
              <li class="tab-links">
                <ion-icon name="information-circle-outline"></ion-icon>
                Help
              </li>
              <li class="tab-links">
                <ion-icon name="log-in-outline"></ion-icon>
               Sign Out
              </li>
<!--              <li class="tab-link"-->
<!--                      (click)="setActive('Color')">-->
<!--                Color Extractor-->
<!--              </li>-->
<!--              <li class="tab-link"-->
<!--                      (click)="setActive('Palette')">-->
<!--                Palette Generator-->
<!--              </li>-->
            </ul>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="10"  >
        <ion-card id="componentCard" style="height: 100vh; width: 80%" style="overflow-x: hidden">
          <div style="font-size: xx-large; padding-top: 3%; margin-bottom: 1cm">
            <ion-icon name="folder-open-sharp"></ion-icon>
            My Collections
          </div>
          <!--    <ion-searchbar style="float: right"></ion-searchbar>-->
          <div *ngIf="collections" class="collections-menu">
            <div *ngFor="let collection of collections">
              <div class="square" style="border: 1px solid gray">
                <img src= {{collection.collectionThumbnail}} alt="motif-image" class="motifImg">
                <div class="left">
                  <div class="gear">
                    <ion-button (click)="CollectionOperations($event)" fill="clear">
                      <ion-icon name="ellipsis-horizontal-sharp" style="font-size: 0.6cm; color: #0d0d0d"></ion-icon>
                    </ion-button>
                  </div>
                  <div class="label">
                    <a class="collections"
                       routerLink="/pattern/{{collection.collectionID}}/{{collection.collectionName}}">
                      {{collection.collectionName}}
                    </a>
                  </div>
                </div>
                <div class="right">
                  <div class="patterblock" style="background-color: white">
                    <p id="patternAmount" style="font-size: 20px;">{{collection.childPatterns.length}}</p>
                    <ion-icon name="copy-sharp" style="font-size: 0.6cm; background-color: white"></ion-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button id="addBtn" (click)="navigateTo('newCollection');">
            <ion-icon name="add-circle-sharp" ></ion-icon>
          </button>
        </ion-card>




      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
