mat-sidenav-container{
  height: 100%;
  background-color: white;
}

mat-sidenav, mat-sidenav-content{
  padding: 16px;
  align-items: center;
}
mat-sidenav{
  background-color: rgba(205, 205, 214, 0.349);
  width: 25%;
  align-content: center;
  text-align: center;


}
mat-form-field{
  align-content: center;
  align-items: center;
  text-align: center;
}
.inp-label{
  text-align: center;
}
#preview-heading{
  font-style: italic;
  text-align: center;
  margin-bottom: 5%;
}
form{
  overflow:hidden;
}
input{
  height: 2em;

}
canvas{
  border: solid black 1px;
  width: 60%;
  height: 50%;
}
.preview{
  margin-left: 20px;
}
