/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
This is to hide the ion-tab-bar in the login page
 */
ion-tabs {
  &.url-home-tournaments-main-play,
  &.url-home-tournaments-main-play-score {
    ion-tab-bar {
      display: none !important;
    }
  }
}

.fullscreen {
  --width: 80%;
  --height: 100%;
  --border-radius: 5;
}

.smallScreen {
  --width: 50%;
  --height: 50%;
  --border-radius: 5;
}

//:root{
//  ion-tab-bar{
//    --background: #5CCCCC;
//  }
//}

:root{
  --mycolor: #123555;
  --shadowcolorDark: rgba(0,0,0,0.25);
  --shadowcolorLight: rgba(0,0,0,0.25);
}

