
<h1 style="text-align:center; padding-top: 10px">Motif Catalogue</h1>
<div class="collections-menu">

  <div>
    <div class="square">
      <div class="gear">
        <ion-button>
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="label">
      <a class="collections"
         routerLink="">
        Motif Name Here
      </a>
    </div>
  </div>

  <div>
    <div class="square">
      <div class="gear">
        <ion-button>
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="label">
      <a class="collections"
         routerLink="">
        Motif Name Here
      </a>
    </div>
  </div>

  <div>
    <div class="square">
      <div class="gear">
        <ion-button>
          <ion-icon name="settings"></ion-icon>
        </ion-button>
      </div>
    </div>
    <div class="label">
      <a class="collections"
         routerLink="">
        Motif Name Here
      </a>
    </div>
  </div>
</div>

<div style="text-align: right;">
  <ion-button >Append Motifs</ion-button>
</div>



