
<h1 style="text-align:center; padding-top: 10px">Motif Catalogue</h1>
<div class="collections-menu">

  <div *ngIf="motifs">
    <div class="squareContainer" *ngFor="let motif of motifs.motifDetails" class="MotifImage">
      <button style="overflow:hidden;" class="motifBtn"  mat-raised-button (click)="motifSelect(motif.motifID)">
        <img src= {{motif.motifLink}} alt="motif-image" class="motifImg"> <!-- does resolve, ignore warning -->
        <h5  class="motifText"> {{motif.motifName}} </h5> <!-- variable name is not unresolved, ignore -->
      </button>
    </div>

  </div>
</div>

<div style="text-align: right;">
  <ion-button >Append Motifs</ion-button>
</div>



