/*
    #div1 is the id for the div
    where the canvas will be
 */
#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    background: #ececec;
    /*
    margin: auto;
    width: 100%;
    */
}

/*
    .form-group is the class of div
    container for the choose file button
*/
.form-group {
    width: 350px;
    padding-bottom: 50px;
}

canvas {
    margin: auto;
    background: #ececec;
    width: 100%;
}

.btn-disabled {
    color: #fff !important;
}

