#menu{
  width: 80%;
  margin: auto;
  background-color: #FFFFFF;//REMOVE THIS IF YOU WANT ANIMATIONS FOR CATALOGUE
  padding: 5%;
  overflow: hidden;
  border-style : solid;
  border-width: 5px;
  border-color: grey;
}



