@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Merriweather+Sans&family=Oswald:wght@300&display=swap');
*{
  color: black;
}
.mainBody{
  //width: 100%;
  //height: 100%;
  background-color: #ffffff;
}
.header .links{
  margin-top: -2vw;
  float: right;
  margin-right: 2cm;
}
.header .logo{
  font-size: 2vw;
  padding-left: 2cm;
  font-family: 'Courgette', cursive;
}
.header .logo p{
  color: #007DDB;
}
#wave{
  position: absolute;
  bottom: 100px;
}
#wave2{
  margin-top: -100px;
}
.launchPage_1{
  position: relative;
  height: 100vh;
  width: 100%;
}

.heading h1{
  max-width: 50%;
  padding-left: 2cm;
  padding-top: 2cm;
  line-height: 100%;
  color: black;
  font-size: 5vw;
}

.heading p{
  padding-left: 2cm;
  font-size: 1.5vw;
  max-width: 50%;
  width: 15cm;
//  min-width: 10cm;
  line-height: 2vw;
}

.heading2 .right{
  float: right;
  text-align: right;
  padding-right: 2cm;
}
.heading2 .left img{
  width: 50%;
  float: left;
}
.heading2 h1{
  line-height: 3vw;
  color: black;
  font-size: 3vw;
}
#saveDesigns{
  padding-left: 2cm;
}
#saveDesigns p{
  width: 15cm;
  max-width: 50%;
}
#saveDesigns img{
  width: 35%;
  float: right;
  margin-top: -20%;
}


.heading2 p{
  font-size: 1.5vw;
  max-width: 10cm;
  min-width: 10cm;
  line-height: 2vw;
}
.heading button, .heading2 button{
  margin-left: 2cm;
  font-size: 1vw;
  padding: 0.4cm 0.6cm;
  background-color: #007DDB;
  color: white;
  border-radius: 0.25cm;
  z-index: 100;
}

.heading img{
  width: 50%;
  float: right;
  margin-top: -10%;
}
.header{
  padding-top: 1cm;
}

.headerText{
  height: 2cm;
  font-size: 3vh;
  color: #007DDB;
}
.headerIcon ion-icon{
  margin-left: 2cm;
  font-size: 1.7vw;
  color: #007DDB;
}
#colorExtractor{
  margin-top: -4cm;
  padding-left: 2cm;
  width: 40%;
}
#extractText{
  float: right;
  max-width: 15cm;
}
