
<div class="sidenav bg-primary">
  <a href="#">CHOOSE PATTERN</a>
  <a href="#">TILING</a>
  <button class="dropdown-btn" >COLORS
    <ion-icon name="caret-down-outline"></ion-icon>
  </button>
  <div class="dropdown-container" id="myDropdown">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <a href="#">CUSTOMIZE</a>
  <a href="#">FILTERS</a>
  <a href="#">CANVAS SIZE</a>
</div>

<div class="main">
  <h2>This is where our workspace will be linked</h2>

</div>


