<!--
<div class="sidebar">
    <ion-list-header>
      <ion-label>Sidebar</ion-label>
    </ion-list-header>

    <button class="dropdown-btn">
      Choose Pattern
      <i class="fa fa-caret-down"></i>

    </button>
    <div class="dropdown-container">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>

    <a href="#">Choose Pattern</a>
    <a href="#" id="download-btn">Download pattern</a>
</div>

-->

<div class="sidenav bg-primary">
  <a href="#">CHOOSE PATTERN</a>
  <a href="#">TILING</a>
  <button class="dropdown-btn">COLORS
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
  <a href="#">CUSTOMIZE</a>
  <a href="#">FILTERS</a>
  <a href="#">CANVAS SIZE</a>
</div>

<div class="main">
  <h2>This is where our workspace will be linked</h2>
  <!-- a link to the workspace html should be integrated here -->
</div>

<!-- Attempted functionality for dropdown menu in sidenav/sidebar -->
<script>
  //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  const dropdown = document.getElementsByClassName("dropdown-btn");
  let i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      let dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
      } else {
        dropdownContent.style.display = "block";
      }
    });
  }
</script>
