
<ion-grid>
  <ion-row class="maxHeight">
    <ion-col size="2.5">
      <ion-card id="leftSidebar">
        <ion-card-header>
          <ion-card-title>Motif Library</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-button color="medium" (click)="uploadFilePopover()">Import new Motif</ion-button>
            </ion-item>
            <ion-item>
              <ion-button color="medium" (click)='collectionCataloguePopover()'>Append motifs</ion-button>
            </ion-item>
          </ion-list>

            <div>
              <ion-searchbar placeholder="Search"></ion-searchbar>
            </div>
            <ion-row>
              <div *ngIf="motifs">
                <ion-card class="squareContainer MotifImage" *ngFor="let motif of motifs.motifDetails">

                  <button style="overflow:hidden;" class="motifBtn"  mat-raised-button (click)='spawnMotifWithURL(motif.motifLink);'>
                    <ion-row>
                      <img src= {{motif.motifLink}} alt="motif-image" class="motifImg"> <!-- does resolve, ignore warning -->
                    </ion-row>
                    <ion-row>
                      <ion-text> {{motif.motifName}} </ion-text>
                    </ion-row>


                     <!-- variable name is not unresolved, ignore -->
                  </button>
                </ion-card>
              </div>
            </ion-row>


<!--          <ion-row>-->
<!--            <ion-button color="dark" style="width:100%;" (click)="spawnMotif()">Spawn Motif</ion-button>-->
<!--          </ion-row>-->
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="7">


        <ion-row size="1">
          <ion-card style="width: 100%">
            <ion-card-content style="width: 100%">
              <ion-row>
                <ion-col size="10">
                <ion-item class="patternSelect" *ngIf="patternService.currentCollection" style="height: 45px">
                  <ion-select interface="popover" [(ngModel)]="selectedPattern" (ionChange)="onPatternChange(selectedPattern)" >
                    <ion-select-option value="{{pattern.patternID}}" *ngFor="let pattern of patternService.currentCollection.childPatterns">{{pattern.patternName}}</ion-select-option>
                  </ion-select>
                </ion-item>
                </ion-col>

                <ion-col>
                  <div>
                    <!--                <ion-input type="text" class="inputField" style="background-color: darkgrey; color: black; padding : 5px; width: 500px; margin: auto;" #patternName></ion-input>-->
                    <ion-button class="button" color="medium" style="width: 90%" (click)="newPatternPopover()"> <!--(click)="newPattern(patternName.value); patternName.value=''"-->
                      New Pattern
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>

            </ion-card-content>

          </ion-card>


        </ion-row>
        <ion-card>
          <ion-card-content>

              <div class="workArea" id="container" style="margin: auto;"(contextmenu)="contextMenu($event)" (click)="dissapearContext(); "></div>
            <div #menu class="customContext" (click)="stopPropagation($event)">
              <ul>
                <li (click)="newFlipX()">FlipX</li>
                <li (click)="newFlipY()">FlipY</li>
                <li (click)="newDelete()">Delete</li>
                <li (click)="newToTop()">Top</li>
                <li (click)="newToBottom()">Bottom</li>
                <li (click)="clone()">Clone</li>
              </ul>
            </div>

              <div class="view" id="preview" style="margin: auto;"></div>
            <br>
              <div id="can" style="margin: auto;"><canvas width="600px" height="600px" style="border: solid black 1px"></canvas></div>
              <div id="down"></div>

            <ion-row class="row">
<!--              <div class="workArea" id="container"></div>-->
<!--              <div class="view" id="preview"></div>-->
<!--              <div id="can"><canvas width="600px" height="600px" style="border: solid black 1px"></canvas></div>-->
<!--              <div id="down"></div>-->

            </ion-row>
          </ion-card-content>
        </ion-card>


    </ion-col>

    <ion-col size="2.5">
      <ion-card>
        <ion-card-content>
          <div>
            <ion-item>
              <ion-label>Show Gridlines</ion-label>
              <mat-checkbox (change)="addGrid($event)"></mat-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Enable Background</ion-label>
              <mat-checkbox (change)="addBack($event)"></mat-checkbox>
            </ion-item>
            <ion-item>
              <ion-button color="medium" (click)="backButton()">Undo</ion-button>
            </ion-item>
            <ion-item>
              <ion-button color="medium" (click)="savePattern()">Save Pattern</ion-button>
            </ion-item>
          </div>

          <ion-list>
            <ion-list-header>
              <ion-title style="text-align:center">Modifiers</ion-title>
            </ion-list-header>
            <ion-item>
              <ion-label>New Layer</ion-label>
            </ion-item>
          </ion-list>

          <div class="layerNumbers">
            <div class="layerBorder">
              <ion-label>Layer</ion-label>

              <div *ngIf="motifs" >
                <div *ngFor="let motif of this.canvasMotifs; let i = index" [attr.data-index]="i" class="temp">
                  <div class="MotifImage2">
                    <div class="layerBlock" style="background-color: #949494; padding: 10px">
                      <img [src]= "sliceURL(motif.attrs.image.currentSrc)" alt="motif-image" class="layerMotif">
                    </div>
                  <!-- does resolve, ignore warning -->
                    <!--                    <h5> {{motif.attrs.image.currentSrc}} </h5> &lt;!&ndash; variable name is not unresolved, ignore &ndash;&gt;-->
<!--                    <img src= {{motif.attrs.image.currentSrc}} alt="motif-image">-->
                    <!--       <button (click)="moveUp(motif)">MoveUp</button>
                           <button (click)="moveDown(motif)">MoveDown</button>
                           -->
                    <br>
                    <ion-button size="small" color="light" (click)="moveToTop(motif)">Top</ion-button>
                    <ion-button size="small" color="light" (click)="moveToBottom(motif)">Bottom</ion-button>
                    <ion-button size="small" color="light" (click)="delete(motif, i)">Delete</ion-button>
                    <ion-button size="small" color="light" (click)="flipX(motif)">FlipX</ion-button>
                    <ion-button size="small" color="light" (click)="flipY(motif)">FlipY</ion-button>
                  </div >
                </div>
              </div>
            </div>
          </div> <!-- .layerNumbers -->

          <ion-list>
            <ion-list-header>
              <ion-title style="text-align:center">Changes</ion-title>
            </ion-list-header>
          </ion-list>
          <ion-item>
            <ion-button id="pre" color="dark" style="width:100%;" (click)="generate()">Refresh</ion-button>
          </ion-item>
          <ion-item>
            <ion-button id="save" color="dark" style="width:100%;" (click)="download()">Export</ion-button>
          </ion-item>

          <ion-item>
            <ion-button id="save" color="dark" style="width:100%;" (click)="scaleCanvas()">Scale</ion-button>
          </ion-item>


          <form>
            <ion-item>
              <ion-label>Select a color: </ion-label>
              <input type="color" id="fav_color" name="fav_color" value="#7E7C7C">
            </ion-item>
            <ion-item>
              <ion-button id = "col" color="dark" style="width:100%;" (click)='changeColor()'>Change Color</ion-button>
            </ion-item>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

