
<ion-grid>
  <ion-row class="maxHeight">

    <ion-col size="2.5">
      <ion-card id="leftSidebar">
        <ion-card-header>
          <ion-card-title>Motif Library</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-button color="medium" (click)="uploadFilePopover()">Import new Motif</ion-button>
            </ion-item>
            <ion-item>
              <ion-button color="medium" (click)='collectionCataloguePopover()'>Append motifs</ion-button>
            </ion-item>
          </ion-list>

            <div>
              <ion-searchbar placeholder="Search"></ion-searchbar>
            </div>
            <ion-row>
              <div *ngIf="motifService.cachedMotifs">
                <ion-card class="squareContainer MotifImage" *ngFor="let motif of motifService.cachedMotifs">

                  <button style="overflow:hidden;" class="motifBtn"  mat-raised-button (click)='this.motifService.spawnMotifObject(motif, this.canvas);'>
                    <ion-row>
                      <img src= {{motif.motifURL}} alt="motif-image" class="motifImg"> <!-- does resolve, ignore warning -->
                    </ion-row>
                    <ion-row>
                      <ion-text> {{motif.motifName}} </ion-text>
                    </ion-row>


                     <!-- variable name is not unresolved, ignore -->
                  </button>
                </ion-card>
              </div>
            </ion-row>


<!--          <ion-row>-->
<!--            <ion-button color="dark" style="width:100%;" (click)="spawnMotif()">Spawn Motif</ion-button>-->
<!--          </ion-row>-->
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="7">


        <ion-row size="1">
          <ion-card style="width: 100%">
            <ion-card-content style="width: 100%">
              <ion-row>
                <ion-col size="10">
                <ion-item class="patternSelect" *ngIf="patternService.checkIfPatternsExistAndSetDefault()" style="height: 45px">

                  <ion-select interface="popover"  [(ngModel)]="patternService.selectedPatternID" (ionChange)="this.patternService.onPatternChange(patternService.selectedPatternID, this.canvas)" >
                    <ion-select-option value="{{pattern.patternID}}" *ngFor="let pattern of patternService.currentCollection.childPatterns">{{pattern.patternName}}</ion-select-option>
                  </ion-select>

                </ion-item>
                </ion-col>

                <ion-col>
                  <div>
                    <!--                <ion-input type="text" class="inputField" style="background-color: darkgrey; color: black; padding : 5px; width: 500px; margin: auto;" #patternName></ion-input>-->
                    <ion-button class="button" color="medium" style="width: 90%" (click)="newPatternPopover()"> <!--(click)="newPattern(patternName.value); patternName.value=''"-->
                      New Pattern
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>

            </ion-card-content>

          </ion-card>


        </ion-row>
        <ion-card>
          <ion-card-content style="width: 100%">

<!--              <div class="workArea" id="container" style="margin: auto;"(contextmenu)="contextMenu($event)" (click)="dissapearContext(); "></div>-->
            <canvas id="patternFrame" width="500px" height="500px" style="border: #0d0d0d"></canvas>


            <ion-row class="row">


            </ion-row>
          </ion-card-content>
        </ion-card>


    </ion-col>

    <!-- 'Modifiers' Side Menu Tab Component -->
    <ion-col size="2.5" class="tab-content" id="Modifiers">
      <ion-card>
          <ion-card-header>
            <ion-button color="dark" size="medium" fill="clear" class="tab-links"
                        (click)="openTab($event,'Modifiers')" id="Modifiers1">
              <ion-label class="button-text">Modifiers</ion-label>
              <ion-icon name="invert-mode-outline"></ion-icon>
            </ion-button>

            <ion-button color="medium" size="medium" fill="clear" class="tab-links" (click)="openTab($event,'Changes')">
              <ion-label class="button-text">Changes</ion-label>
              <ion-icon name="eyedrop-outline" ></ion-icon>
            </ion-button>
          </ion-card-header>
        <ion-card-content>
          <div>
            <ion-item>
              <ion-label>Show Gridlines</ion-label>
              <mat-checkbox ></mat-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>Enable Background</ion-label>
              <mat-checkbox ></mat-checkbox>
            </ion-item>
            <ion-item>
              <ion-button color="medium" >Undo</ion-button>
            </ion-item>
            <ion-item>
              <ion-button color="medium" (click)="this.patternService.savePattern()">Save Pattern</ion-button>
            </ion-item>
          </div>

          <ion-list>
            <ion-list-header>
              <ion-title style="text-align:center">Modifiers</ion-title>
            </ion-list-header>
            <ion-item>
              <ion-label>New Layer</ion-label>
            </ion-item>
          </ion-list>

          <div class="layerNumbers">
            <div class="layerBorder">
              <ion-label>Layer</ion-label>

              <div *ngIf="this.motifService.motifsOnCanvas" >
                <div *ngFor="let motif of this.motifService.motifsOnCanvas.objects.slice().reverse(); index as i;" [attr.data-index]="i" class="temp">
                  <div class="MotifImage2">
                    <div class="layerBlock" style="background-color: #949494; padding: 10px">
                      <img src= "{{motif.motifURL}}" alt="motif-image" class="layerMotif">
                    </div>
                      <ion-button (click)="moveUp(this.motifService.motifsOnCanvas.objects.length - 1 - i)">MoveUp</ion-button>
                      <ion-button (click)="moveDown(this.motifService.motifsOnCanvas.objects.length - 1 - i)">MoveDown</ion-button>
                    <br>
                  </div >
                </div>
              </div>
            </div>
          </div> <!-- .layerNumbers -->
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- 'Changes' Side Menu Tab Component -->
    <ion-col size="2.5" class="tab-content" id="Changes">
      <ion-card>
        <ion-card-header>
          <ion-button color="medium" size="medium" fill="clear" class="tab-link" (click)="openTab($event,'Modifiers')">
            <ion-label class="button-text">Modifiers</ion-label>
            <ion-icon name="invert-mode-outline"></ion-icon>
          </ion-button>

          <ion-button color="medium" size="medium" fill="clear" class="tab-links" (click)="openTab($event,'Changes')" id="Changes1">
            <ion-label class="button-text">Changes</ion-label>
            <ion-icon name="eyedrop-outline" ></ion-icon>
          </ion-button>
        </ion-card-header>
        <ion-card-content>
          <button (click)="listCanvasObjects()">List Objects Test</button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

