
<ion-grid>

  <ion-row>

        <ion-col size="8">

          <ion-card>

            <div>

              <ion-row>
                <ion-col size="10">
                  <ion-item class="patternSelect" *ngIf="patternService.checkIfPatternsExistAndSetDefault()">

                    <ion-select interface="popover"  [(ngModel)]="patternService.selectedPatternID" (ionChange)="this.patternService.getAndLoadSavedPattern(patternService.selectedPatternID, this.canvas);emptyState()" >
                      <ion-select-option value="{{pattern.patternID}}" *ngFor="let pattern of patternService.currentCollection.childPatterns">{{pattern.patternName}}</ion-select-option>
                    </ion-select>

                  </ion-item>
                </ion-col>

                <ion-col>
                  <div>
                    <!--                <ion-input type="text" class="inputField" style="background-color: darkgrey; color: black; padding : 5px; width: 500px; margin: auto;" #patternName></ion-input>-->
                    <ion-button class="button" color="medium" style="width: 90%" (click)="newPatternPopover()"> <!--(click)="newPattern(patternName.value); patternName.value=''"-->
                      New Pattern
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>

            </div>



          </ion-card>

        </ion-col>



        <ion-col size="4">

          <ion-card>

              <ion-card-header style="padding: 5px;">
            <ion-button color="default" size="medium" fill="clear" class="tab-links"
                        (click)="openTabMain($event,'WorkArea')" id="WorkArea1">
              <ion-label class="button-text">Build</ion-label>
              <ion-icon name="image-outline"></ion-icon>
            </ion-button>

            <ion-button color="medium" size="medium" fill="clear" class="tab-links"
                        (click)="openTabMain($event,'Preview')" id="Preview1">
              <ion-label class="button-text">2D Preview</ion-label>
              <ion-icon name="apps-outline" ></ion-icon>
            </ion-button>

            <ion-button color="medium" size="medium" fill="clear" class="tab-links"
                        (click)="open3DViewer($event)">
              <ion-label class="button-text">3D Preview</ion-label>
              <ion-icon name="eye-outline" ></ion-icon>
            </ion-button>

                <br>
                </ion-card-header>


          </ion-card>
        </ion-col>







  </ion-row>


  <ion-row class="maxHeight">
    <ion-col size="8">



          <ion-col size="12" class="tab-content-main" id="WorkArea">


            <ion-card>


<!--              <ion-card-header>-->
<!--                <ion-button color="default" size="medium" fill="clear" class="tab-links"-->
<!--                            (click)="openTabMain($event,'WorkArea')" id="WorkArea1">-->
<!--                  <ion-label class="button-text">WorkArea</ion-label>-->
<!--                  <ion-icon name="image-outline"></ion-icon>-->
<!--                </ion-button>-->

<!--                <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                            (click)="openTabMain($event,'Preview')">-->
<!--                  <ion-label class="button-text">Preview</ion-label>-->
<!--                  <ion-icon name="apps-outline" ></ion-icon>-->
<!--                </ion-button>-->

<!--              </ion-card-header>-->
<!--              <br>-->
              <ion-card-content style="overflow-y:scroll;">

<!--       style="background: #F7F7F9"         -->

<!--                <div>-->

<!--                <ion-row>-->
<!--                  <ion-col size="10">-->
<!--                    <ion-item class="patternSelect" *ngIf="patternService.checkIfPatternsExistAndSetDefault()" style="height: 45px">-->

<!--                      <ion-select interface="popover"  [(ngModel)]="patternService.selectedPatternID" (ionChange)="this.patternService.getAndLoadSavedPattern(patternService.selectedPatternID, this.canvas);emptyState()" >-->
<!--                        <ion-select-option value="{{pattern.patternID}}" *ngFor="let pattern of patternService.currentCollection.childPatterns">{{pattern.patternName}}</ion-select-option>-->
<!--                      </ion-select>-->

<!--                    </ion-item>-->
<!--                  </ion-col>-->

<!--                  <ion-col>-->
<!--                    <div>-->
<!--                      &lt;!&ndash;                <ion-input type="text" class="inputField" style="background-color: darkgrey; color: black; padding : 5px; width: 500px; margin: auto;" #patternName></ion-input>&ndash;&gt;-->
<!--                      <ion-button class="button" color="medium" style="width: 90%" (click)="newPatternPopover()"> &lt;!&ndash;(click)="newPattern(patternName.value); patternName.value=''"&ndash;&gt;-->
<!--                        New Pattern-->
<!--                      </ion-button>-->
<!--                    </div>-->
<!--                  </ion-col>-->
<!--                </ion-row>-->

<!--                </div>-->






                <br>
<!--              <div class="workArea" id="container" style="margin: auto;"(contextmenu)="contextMenu($event)" (click)="dissapearContext(); "></div>-->
                <div class="frame" (contextmenu)="contextMenu($event)" (click)="dissapearContext();">
                  <canvas id="patternFrame" width="450px" height="450px"></canvas>
                </div>
                <div #menu class="customContext" (click)="stopPropagation($event)">
                  <ul>
                    <li (click)="cloneRightClick()" >Clone</li>
                    <li (click)="deleteRightClick()">Delete</li>
                    <li (click)="moveUpRightClick()" >Move Up</li>
                    <li (click)="moveDownRightClick()" >Move Down</li>
<!--                    <li (click)="flipXRightClick()">FlipX</li>-->
<!--                    <li (click)="flipYRightClick()">FlipY</li>-->
                    <li (click)="recenterClick()">Recenter</li>
                  </ul>
                </div>

                <br>

                <ion-row>

                <div class="controls" style="text-align: center; display:none" id="controls">



<!--                    <ion-button style="padding: 10px; height: 50px;" (click)="this.flipXRightClick()" >Flip X</ion-button>-->
<!--                    <ion-button style="padding: 10px; height: 50px;" (click)="this.flipYRightClick()">Flip Y</ion-button>-->

                    <ion-button style="padding: 10px; height: 50px;" (click)="this.moveUpRightClick()">Move Up</ion-button>
                    <ion-button style="padding: 10px; height: 50px;" (click)="this.moveDownRightClick()">Move Down</ion-button>

                    <ion-button style="padding: 10px; height: 50px;" (click)="this.cloneRightClick()">Duplicate</ion-button>

                    <ion-button style="padding: 10px; height: 50px;" (click)="this.deleteRightClick()">Delete</ion-button>

                    <ion-button style="padding: 10px; height: 50px;" (click)="this.recenterClick()">Recenter</ion-button>

                  <br>
                  <br>
                  <br>
                  <br>
                </div>

                  </ion-row>


                <div style="height: 10vh;">

                </div>

               </ion-card-content>
            </ion-card>

          </ion-col>


<!--12-->
          <ion-col size="12" class="tab-content-main" id="Preview">
            <ion-card>
<!--              <ion-card-header>-->
<!--                <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                            (click)="openTabMain($event,'WorkArea')">-->
<!--                  <ion-label class="button-text">WorkArea</ion-label>-->
<!--                  <ion-icon name="image-outline"></ion-icon>-->
<!--                </ion-button>-->

<!--                <ion-button color="default" size="medium" fill="clear" class="tab-links"-->
<!--                            (click)="openTabMain($event,'Preview')" id="Preview1">-->
<!--                  <ion-label class="button-text">Preview</ion-label>-->
<!--                  <ion-icon name="apps-outline" ></ion-icon>-->
<!--                </ion-button>-->
<!--              </ion-card-header>-->
<!--              <br>-->
              <ion-card-content style="overflow: hidden">
<!--style="background: #F7F7F9"-->


<!--                <div>-->

<!--                  <ion-row>-->
<!--                    <ion-col size="10">-->
<!--                      <ion-item class="patternSelect" *ngIf="patternService.checkIfPatternsExistAndSetDefault()" style="height: 45px">-->

<!--                        <ion-select interface="popover"  [(ngModel)]="patternService.selectedPatternID" (ionChange)="this.patternService.getAndLoadSavedPattern(patternService.selectedPatternID, this.canvas);emptyState()" >-->
<!--                          <ion-select-option value="{{pattern.patternID}}" *ngFor="let pattern of patternService.currentCollection.childPatterns">{{pattern.patternName}}</ion-select-option>-->
<!--                        </ion-select>-->

<!--                      </ion-item>-->
<!--                    </ion-col>-->

<!--                    <ion-col>-->
<!--                      <div>-->
<!--                        &lt;!&ndash;                <ion-input type="text" class="inputField" style="background-color: darkgrey; color: black; padding : 5px; width: 500px; margin: auto;" #patternName></ion-input>&ndash;&gt;-->
<!--                        <ion-button class="button" color="medium" style="width: 90%" (click)="newPatternPopover()"> &lt;!&ndash;(click)="newPattern(patternName.value); patternName.value=''"&ndash;&gt;-->
<!--                          New Pattern-->
<!--                        </ion-button>-->
<!--                      </div>-->
<!--                    </ion-col>-->
<!--                  </ion-row>-->

<!--                </div>-->


                <div class="frame inv">
                  <img id='imgPreview'/>
                </div>

                <br>
                <div class="frame" style="background: #F7F7F9">
                  <canvas id="previewFrame" width="450px" height="450px"></canvas>
                </div>
                <br>

                <div class="frame inv">
                  <img style="object-fit:cover; vertical-align: bottom;" id='imgPattern'/>
                </div>


                <div style="height: 10vh;">

                </div>

              </ion-card-content>
            </ion-card>
          </ion-col>


    </ion-col>

    <!-- 'Modifiers' Side Menu Tab Component -->

    <ion-col size="0.5">
      <div style="text-align: center">

        <br>
        <br>
        <ion-card style="overflow :hidden; width: 100%; height: 100%;">
            <ion-button color="medium" size="medium" fill="clear" class="tab-links"
                        (click)="openTabSide($event,'MotLib')" id="MotLib1">
              <!--              <ion-label class="button-text">Motifs</ion-label>-->
              <ion-icon name="apps-outline"></ion-icon>
            </ion-button>
        </ion-card>
            <ion-card style="overflow :hidden; width: 100%; height: 100%;">
        <ion-button color="default" size="medium" fill="clear" class="tab-links"
                    (click)="openTabSide($event,'Modifiers')" id="Modifiers1">
          <!--              <ion-label class="button-text">Layers</ion-label>-->
          <ion-icon name="invert-mode-outline"></ion-icon>
        </ion-button>
              </ion-card>
                <ion-card style="overflow :hidden; width: 100%; height: 100%;">
        <ion-button color="medium" size="medium" fill="clear" class="tab-links"
                    (click)="openTabSide($event,'Changes')" id="Changes1">
          <!--              <ion-label class="button-text">Modifiers</ion-label>-->
          <ion-icon name="eyedrop-outline" ></ion-icon>
        </ion-button>
              </ion-card>
                <ion-card style="overflow :hidden; width: 100%; height: 100%;">
        <ion-button color="medium" size="medium" fill="clear" class="tab-links"
                    (click)="openTabSide($event,'Exports')" id="Exports1">
          <!--              <ion-label class="button-text">Exports</ion-label>-->
          <ion-icon name="archive-outline"></ion-icon>
        </ion-button>
                  </ion-card>
        <ion-card style="overflow :hidden; width: 100%; height: 100%;">
          <ion-button color="medium" size="medium" fill="clear" class="tab-links"
                      (click)="openTabSide($event,'Color'); patternColour()" id="Color1">
            <!--              <ion-label class="button-text">Exports</ion-label>-->
            <ion-icon name="color-fill-outline"></ion-icon>
          </ion-button>
        </ion-card>

        <ion-card style="overflow :hidden; width: 100%; height: 100%;">
          <ion-button color="medium" size="medium" fill="clear" class="tab-links"
                      (click)="openTabSide($event,'colorPalette')" id="colorPalette1">
            <!--              <ion-label class="button-text">Motifs</ion-label>-->
            <ion-icon name="color-palette-outline"></ion-icon>
          </ion-button>
        </ion-card>

        <ion-card style="overflow :hidden; width: 100%; height: 100%;">
          <ion-button color="medium" size="medium" fill="clear" class="tab-links"
                      (click)="openTabSide($event,'motifColor')" id="motifColor1">
            <!--              <ion-label class="button-text">Motifs</ion-label>-->
            <ion-icon name="brush-outline"></ion-icon>
          </ion-button>
        </ion-card>

      </div>
    </ion-col>

    <ion-col size="3.5" class="tab-content-side" id="Modifiers">
      <ion-card>





        <ion-card-content>
          <div>

            <ion-card-header>
              <ion-card-title>Layers</ion-card-title>
            </ion-card-header>


            <ion-item>
              <ion-label>Show Gridlines</ion-label>
              <ion-checkbox (ionChange)="toggleGrid($event)" checked="false"></ion-checkbox>
            </ion-item>
            <br>
            <ion-item>
              <ion-button color="medium" (click)="this.patternService.savePattern(this.canvas, this.collectionService.currentCollectionID)" style="width:100%;">Save Frame</ion-button>
            </ion-item>
            <br>
            <ion-item>
              <ion-button color="medium" style="width: 100%" (click)="undo()">Undo</ion-button>
<!--              <ion-button color="medium" style="width: 100%" (click)="getObjects()">Get Objects</ion-button>-->
            </ion-item>
            <br>

          </div>


          <div class="layerNumbers">
            <div class="layerBorder">
              <ion-label>Layer</ion-label>

              <div *ngIf="this.motifService.motifsOnCanvas" >
                <div *ngFor="let motif of this.motifService.motifsOnCanvas.slice().reverse(); index as i;" [attr.data-index]="i" class="temp">
                  <div class="MotifImage2" (click)="makeSelected(motif.IDOnCanvas)">
                    <div class="layerBlock" style="background-color: #949494; padding: 10px">
                      <img src= "{{motif.motifURL}}" alt="motif-image" class="layerMotif" >
                    </div>
                      <ion-button color="medium" (click)="moveUp(motif.IDOnCanvas)">MoveUp</ion-button>
                      <ion-button color="medium" (click)="moveDown(motif.IDOnCanvas)">MoveDown</ion-button>
                      <ion-button color="medium" (click)="delete(motif.IDOnCanvas)">Delete</ion-button>
                    <ion-button color="medium" (click)="recenter(motif.IDOnCanvas)">Recenter</ion-button>
                    <br>
                  </div >
                </div>
              </div>
            </div>
          </div> <!-- .layerNumbers -->

          <div style="height: 15vh;">

          </div>

        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- 'Changes' Side Menu Tab Component -->
    <ion-col size="3.5" class="tab-content-side" id="Changes">
      <ion-card>


<!--        <div style="text-align: center">-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                      (click)="openTabSide($event,'MotLib')">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Motifs</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="apps-outline"></ion-icon>-->
<!--          </ion-button>-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-link"-->
<!--                      (click)="openTabSide($event,'Modifiers')">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Layers</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="invert-mode-outline"></ion-icon>-->
<!--          </ion-button>-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                      (click)="openTabSide($event,'Changes')" id="Changes1">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Modifiers</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="eyedrop-outline" ></ion-icon>-->
<!--          </ion-button>-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                      (click)="openTabSide($event,'Exports')">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Exports</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="archive-outline"></ion-icon>-->
<!--          </ion-button>-->

<!--        </div>-->



        <ion-card-content>
<!--          <ion-list>-->
<!--            <ion-list-header>-->
<!--              <ion-title style="text-align:center;">Modifiers</ion-title>-->
<!--            </ion-list-header>-->
<!--          </ion-list>-->

          <ion-card-header>
            <ion-card-title>Modifiers</ion-card-title>
          </ion-card-header>

          <ion-item>
            <ion-button id="pre" color="medium" style="width:100%;" (click)="refresh()" >Refresh Preview</ion-button>
          </ion-item>

          <ion-item>
            <ion-label>Enable Background</ion-label>
            <ion-checkbox (ionChange)="toggleBackground($event)" checked="true"></ion-checkbox>
          </ion-item>

          <form>
            <ion-item>
              <ion-label style="margin: auto; text-align:center;">Select a color: </ion-label>
              <input type="color" id="fav_color" name="fav_color" value="#FFFFFF">
            </ion-item>
            <ion-item>
              <ion-button id = "col" color="medium" style="width:100%;" (click)='changeColor()'>Change Background Color</ion-button>
            </ion-item>
          </form>


          <ion-item>
            <ion-label style="margin: auto; text-align:center;">Select the amount of frames to be in pattern: </ion-label>
          </ion-item>


          <ion-item>
           <ion-button id="s3" color="primary" style="width:100%;" (click)="scaleCanvas3()">3x3</ion-button>
           <ion-button id="s6" color="medium" style="width:100%;" (click)="scaleCanvas6()">6x6</ion-button>
           <ion-button id="s9" color="medium" style="width:100%;" (click)="scaleCanvas9()">9x9</ion-button>
          </ion-item>

          <ion-item *ngIf="this.activeObject">
            <ion-checkbox id="seamlessModifier" (ionChange)="setSeamlessModifier($event)" slot="end" [(ngModel)]="this.activeObject.shouldDisplaySeamlessMod"></ion-checkbox>
            <ion-label> Set Seamless </ion-label>
          </ion-item>

          <ion-item *ngIf="this.activeObject">
            <ion-badge>{{this.activeObject.ArrayModDirection}}</ion-badge>
            <ion-range min="0" max="359" color="medium" [(ngModel)]="this.activeObject.ArrayModDirection" (mouseup)="this.addState() ;" (ionChange)="this.motifService.updateArrModOfSelected(this.activeObject, this.canvas)">
              <ion-label slot="start">0</ion-label>
              <ion-label slot="end">359</ion-label>
            </ion-range>
          </ion-item>


          <ion-item *ngIf="this.activeObject" style="text-align: center">
            <ion-button (click)="updateArrayModifier(this.activeObject,1, this.activeObject.ArrayModSpacing, this.canvas)" color="medium" style="width:100%;" >Add</ion-button>
            <ion-button (click)="updateArrayModifier(this.activeObject,-1, this.activeObject.ArrayModSpacing,this.canvas)" color="medium" style="width:100%;" >Remove</ion-button>
            {{this.activeObject.nrOfArrayObjects}}
          </ion-item>
          <br>

          <div *ngIf="this.activeObject">
            <ion-input style="background-color: grey; margin:auto; color: black;" color="medium" type="number" value=distBetweenArrayModElements [(ngModel)]="this.activeObject.ArrayModSpacing" (ionChange)="this.addState() ;this.motifService.updateArrModOfSelected(this.activeObject, this.canvas)"></ion-input>

          </div>

<!--          <div>-->
<!--            <ion-button (click)="uploadThumbnail()">-->
<!--              Generate Thumbnail-->
<!--            </ion-button>-->
<!--          </div>-->

          <div style="height: 15vh;">

          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3.5" class="tab-content-side" id="Exports">
      <ion-card>

<!--        <div style="text-align: center">-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                      (click)="openTabSide($event,'MotLib')">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Motifs</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="apps-outline"></ion-icon>-->
<!--          </ion-button>-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-link"-->
<!--                      (click)="openTabSide($event,'Modifiers')">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Layers</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="invert-mode-outline"></ion-icon>-->
<!--          </ion-button>-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                      (click)="openTabSide($event,'Changes')">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Modifiers</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="eyedrop-outline" ></ion-icon>-->
<!--          </ion-button>-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                      (click)="openTabSide($event,'Exports')" id="Exports1">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Exports</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="archive-outline"></ion-icon>-->
<!--          </ion-button>-->

<!--        </div>-->


        <ion-card-content>

<!--          <ion-list>-->
<!--            <ion-list-header>-->
<!--              <ion-title style="text-align:center;">Exports</ion-title>-->
<!--            </ion-list-header>-->
<!--          </ion-list>-->

          <ion-card-header>
            <ion-card-title>Exports</ion-card-title>
          </ion-card-header>


<!--          <ion-item>-->
<!--            <ion-label style="margin: auto; text-align:center;">Other Options: </ion-label>-->
<!--          </ion-item>-->


          <!-- TODO: delete exports popover - not used-->
          <ion-list>
            <ion-radio-group value=".PNG" [(ngModel)]="exportFormat">
              <ion-list-header>
                <ion-label style="margin: auto; text-align:center;">Select Export Format:</ion-label>
              </ion-list-header>

           <ion-item>
               <ion-label>.PNG</ion-label>
              <ion-radio slot="start" value=".PNG" (click)="exportPng()"></ion-radio>
           </ion-item>

              <ion-item>
                <ion-label>.SVG</ion-label>
                <ion-radio slot="start" value=".SVG" (click)="exportOther()"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>.PDF</ion-label>
                <ion-radio slot="start" value=".PDF" (click)="exportOther()"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>.DWG</ion-label>
                <ion-radio slot="start" value=".DWG" (click)="exportOther()"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>.DXF</ion-label>
                <ion-radio slot="start" value=".DXF" (click)="exportOther()"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>


          <div id="mainExport" style="display: none;">

          <ion-item>
            <ion-button color="medium" style="width:100%;" (click)="exportCanvas()" >
              Export
            </ion-button>
          </ion-item>

          </div>

          <div id="pngExport">

            <ion-item>
              <ion-label style="margin: auto; text-align:center;">Select PNG Dimension options: </ion-label>
            </ion-item>

            <ion-item>
              <ion-button id="e1" color="medium" style="width:100%;" (click)="export1()">450x450</ion-button>
              <ion-button id="e2" color="primary" style="width:100%;" (click)="export2()">900x900</ion-button>
              <ion-button id="e5" color="medium" style="width:100%;" (click)="export5()">2250x2250</ion-button>
            </ion-item>

            <ion-item>
              <ion-label style="margin: auto; text-align:center;">Select what to export: </ion-label>
            </ion-item>

            <ion-item>
              <ion-button id="patternDown" color="medium" style="width:100%;" (click)="pattern()">Pattern</ion-button>
              <ion-button id="frameDown" color="medium" style="width:100%;" (click)="frame()">Frame</ion-button>
            </ion-item>

          </div>











<!--          <ion-item>-->
<!--            <ion-button color="medium" style="width:100%;" (click)="open3DViewer($event)" >-->
<!--              3D Viewer-->
<!--            </ion-button>-->
<!--          </ion-item>-->

        </ion-card-content>

      </ion-card>

    </ion-col>


    <ion-col size="3.5" class="tab-content-side" id="MotLib">
      <ion-card>

<!--        <div style="text-align: center">-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                      (click)="openTabSide($event,'MotLib')" id="MotLib1">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Motifs</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="apps-outline"></ion-icon>-->
<!--          </ion-button>-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-link"-->
<!--                      (click)="openTabSide($event,'Modifiers')">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Layers</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="invert-mode-outline"></ion-icon>-->
<!--          </ion-button>-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                      (click)="openTabSide($event,'Changes')">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Modifiers</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="eyedrop-outline" ></ion-icon>-->
<!--          </ion-button>-->

<!--          <ion-button color="medium" size="medium" fill="clear" class="tab-links"-->
<!--                      (click)="openTabSide($event,'Exports')">-->
<!--&lt;!&ndash;            <ion-label class="button-text">Exports</ion-label>&ndash;&gt;-->
<!--            <ion-icon name="archive-outline"></ion-icon>-->
<!--          </ion-button>-->

<!--        </div>-->

        <ion-card-content>

          <ion-card-header>
            <ion-card-title>Motif Library</ion-card-title>
          </ion-card-header>


          <ion-list>
            <ion-item>
              <ion-button color="medium" style="width: 100%" (click)="uploadFilePopover()">Import new Motif</ion-button>
            </ion-item>
            <br>
            <ion-item>
              <ion-button color="medium" style="width: 100%" (click)='collectionCataloguePopover()'>Append motifs</ion-button>
            </ion-item>
          </ion-list>

          <ion-toolbar>
            <ion-searchbar (keyup)="onKey($event)" ></ion-searchbar>
            <p class="testing">{{values}}</p>
          </ion-toolbar>

          <ion-row id=""testing>

            <div style="text-align: center;" class="controls">
            <div *ngIf="motifService.cachedMotifs" #parent>
              <ion-card class="squareContainer MotifImage" *ngFor="let motif of motifService.cachedMotifs" style="text-align: center;">

                <div style="overflow:hidden;" class="motifBtn"  mat-raised-button (click)='spawn(motif)'>
                  <img src= {{motif.motifURL}} alt="motif-image" class="motifImg"> <!-- does resolve, ignore warning -->
                  <br>
                  <ion-text class="motifNames"> {{motif.motifName}} </ion-text>
                </div>
              </ion-card>

            </div>

            </div>

          </ion-row>

          <div style="height: 15vh;">

          </div>

        </ion-card-content>


      </ion-card>
    </ion-col>

    <ion-col size="3.5" class="tab-content-side" id="Color">
      <ion-card>

        <ion-card-content style="overflow: hidden">

          <ion-card-header>
            <ion-card-title>Colors</ion-card-title>
          </ion-card-header>


          <div style="text-align: center;">
          <br>
          <ion-button color="medium" style="width: 80%" (click)="refreshColor()">Refresh</ion-button>
          <br>
          <br>

          <ion-grid class="grid-container">

            <ion-row id="item0" class="grid-item"><p class="par" id="hx0"></p></ion-row>
            <ion-row id="item1" class="grid-item"><p class="par" id="hx1"></p></ion-row>
            <ion-row id="item2" class="grid-item"><p class="par" id="hx2"></p></ion-row>
            <ion-row id="item3" class="grid-item"><p class="par" id="hx3"></p></ion-row>
            <ion-row id="item4" class="grid-item"><p class="par" id="hx4"></p></ion-row>
            <ion-row id="item5" class="grid-item"><p class="par" id="hx5"></p></ion-row>
            <ion-row id="item6" class="grid-item"><p class="par" id="hx6"></p></ion-row>
            <ion-row id="item7" class="grid-item"><p class="par" id="hx7"></p></ion-row>
            <ion-row id="item8" class="grid-item"><p class="par" id="hx8"></p></ion-row>
            <ion-row id="item9" class="grid-item"><p class="par" id="hx9"></p></ion-row>
            <ion-row id="item10" class="grid-item"><p class="par" id="hx10"></p></ion-row>
            <ion-row id="item11" class="grid-item"><p class="par" id="hx11"></p></ion-row>
            <ion-row id="item12" class="grid-item"><p class="par" id="hx12"></p></ion-row>
            <ion-row id="item13" class="grid-item"><p class="par" id="hx13"></p></ion-row>
            <ion-row id="item14" class="grid-item"><p class="par" id="hx14"></p></ion-row>
            <ion-row id="item15" class="grid-item"><p class="par" id="hx15"></p></ion-row>
            <ion-row id="item16" class="grid-item"><p class="par" id="hx16"></p></ion-row>
            <ion-row id="item17" class="grid-item"><p class="par" id="hx17"></p></ion-row>
            <ion-row id="item18" class="grid-item"><p class="par" id="hx18"></p></ion-row>
            <ion-row id="item19" class="grid-item"><p class="par" id="hx19"></p></ion-row>
          </ion-grid>

          </div>


          <div style="height: 15vh;">

          </div>

        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col size="3.5" class="tab-content-side" id="colorPalette">
      <ion-card>

        <ion-card-content style="overflow: hidden">
          <ion-card>
            <ion-card-header>
              Color Palette
            </ion-card-header>

            <ion-card-content>
              <br>
              <ion-item class="colorBox">
                <div class="colors" style="width: 100%; height: 90%"></div>
                <ion-button id="locks1" color="medium" (click)="lockColor('locks1')">Lock</ion-button>
                <p class="codes">#4cae3a</p>
              </ion-item>
              <br>
              <ion-item class="colorBox">
                <div class="colors" style="width: 100%; height: 90%"></div>
                <ion-button id="locks2" color="medium" (click)="lockColor('locks2')">Lock</ion-button>
                <p class="codes">#4cae3a</p>
              </ion-item>
              <br>
              <ion-item class="colorBox">
                <div class="colors" style="width: 100%; height: 90%"></div>
                <ion-button id="locks3" color="medium" (click)="lockColor('locks3')">Lock</ion-button>
                <p class="codes">#4cae3a</p>
              </ion-item>
              <br>
              <ion-item class="colorBox">
                <div class="colors" style="width: 100%; height: 90%"></div>
                <ion-button id="locks4" color="medium" (click)="lockColor('locks4')">Lock</ion-button>
                <p class="codes">#4cae3a</p>
              </ion-item>
              <br>
              <ion-button id="genBtn" color="medium" expand="block" (click)="colorGenerator()">Generate</ion-button>
            </ion-card-content>
          </ion-card>


          <div style="height: 15vh;">

          </div>

        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3.5" class="tab-content-side" id="motifColor">
      <ion-card>
        <ion-card-header>
          Change Icon Color
        </ion-card-header>
        <ion-card-content>
          <form>
            <div style="text-align: center;">
            <ion-button id="importBtn" color="medium" style="width: 80%"  (click)="importSVG()">Import SVG</ion-button> <br>

            <ion-item>
              <ion-label>Enter a color: </ion-label>
              <input type="text" id="textColor" name="textColor" value="#ff0000" style="background-color: #FFFFFF; border: 1px solid #000000; padding-left: 2%; color: #000000">
            </ion-item>

            <ion-button id="changeTextBtn" color="medium" style="width: 80%"  (click)="changeFillText()">Change Color</ion-button> <br>
            <input type="file" id="c-upload-file" accept="image/svg+xml/*" hidden>
            <ion-button id="saveBtn" color="medium" style="width: 80%"  (click)="saveSvg()">Save SVG</ion-button>
            </div>
          </form>
          <img id="output" alt="SVG Image" src="" style="display: none"/>
          <div id="divOutput" style="max-height: 90%; max-width: 90%;"></div>

          <div style="height: 15vh;">

          </div>


        </ion-card-content>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>

