ion-card{
  height: 100%;
  overflow: auto;
}

.overlap{
  overflow: hidden;
}



body{
  zoom: 75%;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

ion-content{
  height: 100%;
}
.layerMotif{
  height: 2cm;
}

ion-grid{
  height: 100%;
  width: 100%;
}


//IDS

#preview {
  position: relative;
  top: 2px;
  right: 2px;
  width: 600px;
  height: 600px;
  border: 1px solid grey;
  background-color: lightgray;
  display:none;
  margin: 5px;
}

#patternFrame{
  background-color: white;
}


#can{
  border: solid black 3px;
  width: 600px;
  height: 600px;
  margin: 15px;
  background-color: white;
}
#container{
  background-color: white;
  border: solid black 3px;
  text-align : center;
}


//CLASSES

.customContext{
  position: fixed;
  background: #111;
  width: 150px;
  z-index: 100000;
  display: none;
}
.customContext ul{
  padding: 0;
  margin: 0;
}
.customContext ul li{
  list-style-type: none;
  padding: 10px 14px;
  border-bottom: 1px solid white;
  color: gray;
  width: 100%;
  cursor: pointer;
  transition: 0.2s all;
}
.customContext ul li:hover{
  background: #111111;
  color: dodgerblue;
}

.maxHeight{
  height: 100%;
}

ion-col {
  height: 100%;
  --ion-grid-column-padding: 0px;
}

ion-card-content {
  padding: 1px;
}

ion-card-header{
  font-size: large;
  text-align: center;
  border-bottom: 1px solid slategray;
  height: 50px;
}

.noIonCardHeader{
border-bottom: 0px;
}

ion-item {
  height: 40px;
  //background: #F7F7F9;
}

//use this if you always want light theme

//ion-card, ion-toolbar, ion-row, ion-item, ion-searchbar, ion-list, ion-card-content, ion-item
//{
//  background: #F7F7F9;
//}

.motifBtn
{
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 5px;
  transition: background-color 1s;
}

.motifBtn:hover
{
  background-color: grey;
  ion-text-color : white;
}

//#controls button {
//  background-color: #04AA6D; /* Green background */
//  border: 1px solid green; /* Green border */
//  color: white; /* White text */
//  padding: 10px 24px; /* Some padding */
//  cursor: pointer; /* Pointer/hand icon */
//  float: left; /* Float the buttons side by side */
//}
//
///* Clear floats (clearfix hack) */
//#controls:after {
//  /* content: "";
//   //clear: both;
//   //display: table;*/
//}
//
//#controls button:not(:last-child) {
//  //border-right: none; /* Prevent double borders */
//}
//
///* Add a background color on hover */
//#controls button:hover {
//  background-color: #3e8e41;
//}

.motifImg
{
  height: 80%;
  vertical-align:middle;
}
.motifNames{
  width: 100%;
  //display: block;
  height: 20%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.MotifImage{
  width: 40%;
  height: 5cm;
  background-color: white;
  text-align: center;
  //padding :50px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 10px;

  border: solid black 3px;
  display: flex;
  align-items: center;
  float: left;
  box-shadow: 6px 6px 5px white;
  transition: box-shadow 1s;
}

.MotifImage:hover
{
  box-shadow: 6px 6px 5px grey;
  background: darkgrey;
}

.squareContainer{
  background: white;
}
.squareContainer:hover
{
  background: grey;
}

ion-text{
  color: black;
}



// Colors
$bg-color: hsl(0,1,90);
$dot-color: hsl(255,71,34);

// Dimensions
$dot-size: 1.5px;
$dot-space: 15px;

.row{
  background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
  width: 100%;
}


.workArea{
  //margin-left: 280px;
  //background-color: aqua;
  width: 600px;
  height: 600px;
  //border-radius: 10px;
  border: solid grey 1px;
  text-align : center;
  margin: 15px;
}

.view{
  //margin-left: 280px;
  //background-color: aqua;
  width: 600px;
  height: 600px;
  //border-radius: 10px;
  border: solid grey 1px;
  text-align : center;
  margin: 15px;
}


.controls{
  //width: 620px;//included borders
  width: 100%;
  height: 5vh;//included borders
  margin: 0px auto;
  //border: 4px solid grey;
}

.frame {
  width: 608px;//included borders
  height: 608px;//included borders
  margin: 0px auto;
  border: 4px solid grey;
}

.inv{
  display: none;
}


.layerNumbers{
  border: solid grey 1px;
}

.layerBorder{
  padding: 5px;
  text-align: center;
}

@media screen and (max-width:1500px){
  .button-text {
    display: none;
  }
}



.motifBtn{
  cursor: pointer;
}
