<title>{{title}}</title>
<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#">Import motif</a></li>
            <li><a href="#" id="download-btn">Download pattern</a></li>
        </ul>
    </div>
    <div class="main_content">

        <div class="info">
            <div>
                <canvas id="myCanvas" width="300" height="700">
                    Your browser does not support the HTML canvas tag.</canvas>
            </div>
            Change spacing<input type="number" id="name" name="name" [defaultValue]="18">
            Rotate pattern: <input type="number"  step="0.001" value="0.000" id="rotate" name="rotate" [defaultValue]="0.000">
            Scale pattern: <input type="number" step="0.01" value="0.00" id="scale" name="scale" [defaultValue]="0.7">
        </div>
    </div>

</div>