<title>{{title}}</title>
<div class="wrapper">
    <div class="sidebar">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#">Import motif</a></li>
            <li><a href="#" id="download-btn">Download pattern</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Workspace</div>

        <div class="info" width="500">
            <div>
                <canvas id="myCanvas" width="300" height="700">
                    Your browser does not support the HTML canvas tag.</canvas>
            </div>
            <input type="number" id="name" name="name" placeholder="Change spacing">
            <input type="number"  step="0.001" value="0.000" id="rotate" name="rotate" placeholder="Rotate pattern">
            <input type="text" id="scale" name="scale" placeholder="Scale pattern" [defaultValue]="0.7">
        </div>
    </div>

</div>