<h2>Collections</h2>

<!-- <ul class="collections">
    <li>
      <a routerLink="/collectionCreator"></a>
      <span class ="newCollection">New Collection</span>
    </li>
    
    <li *ngFor="let collection of collections">
      <span class="badge">{{collection.name}}</span> 
    </li>
  </ul> -->


  <div class="collections-menu">
    <a id="addCollection"
      routerLink="/collectionCreator">
      +
    </a>
    <a *ngFor="let collection of collections"
      routerLink="/detail/{{collection.id}}">
      {{collection.name}}
    </a>
  </div>
