<ion-content>
  <br>
  <ion-card id="menu">
    <ion-card-header>New Collection</ion-card-header>
    <ion-card-content>
      <label for="new-collection">Collection name: </label><br>
      <input type="text" class="inputField" id="new-collection" #collectionName><br>

      <label for="story">Collection Story: </label><br>
      <input id="story" #collectionStory ><br>

      <label for="themes">Collection Themes: </label><br>
      <input id="themes" placeholder="Enter comma separated color codes" #collectionThemes /><br>
      <br>
      <br>

      <ion-card id="colorPicker">
        <ion-card-header> Use the color picker to get color codes</ion-card-header>
        <ion-card-content>

          <label for="color">Pick a color  :</label>
          <input type="color" id="color"  name="color" value="#73b504"> <br> <br>
          <ion-button id="newCol" color="medium" (click)="getColorCodes()"> get color code </ion-button><br><br>
          <p id="colorCode">{{colorCodeHex}}</p>

        </ion-card-content>
      </ion-card>
      <ion-button expand="block" color="medium" class="button" type="button" (click)="closePopover()">
        Cancel
      </ion-button>
      <ion-button expand="block" color="medium" class="button" type="button" (click)="newCollection(collectionName.value); collectionName.value=''">
        Add Collection
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
